#sec4
    img#fon_1(src='/assets/img/sec4.jpg')
    #ftext_04
        h1 Зафакол спешит на помощь
#sec4_half
    #ftext_4
        h1
            | Зафакол устранит
            br
            | неполадки
            br
            | и отрегулирует
            br
            | работу
    #diraman5
        #dira5
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 204 176', style='enable-background:new 0 0 204 176;', xml:space='preserve')
                filter#Filter_03
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                filter#Filter_02
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                filter#Filter_01
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                g#dir5_big.dir3st0
                    path.dir3st1(d='M166.9,133.1c-6.5,8.2-13.6,15.9-21.3,22c-10.1,8-23.6,11.5-36,13c-6.4,0.8-11.6-0.2-17.8-0.6 c-6.5-0.4-12.8,2.3-19.3,2.5c-8.8,0.3-17.2-3.7-24.6-8.5c-9.8-6.5-18.5-14.6-27.1-22.7c-3.6-3.4-7.3-6.9-9.9-11.2 c-3.8-6.3-4.8-14-4.9-21.4C5.7,91.4,8,73.5,16.5,61.3c7.7-11.1,13.2-24.7,24.1-33.3c12-9.5,27.7-12.4,42.7-15 c14.8-2.6,30.1,0.9,44.4-3.6c13.5-4.2,28.1-3.2,40.2,4.6c12.4,8,17,19.5,21.4,33.1c4.3,13.3,8.9,26.2,5.7,40.7 c-1.9,8.4-6.6,15.9-11.5,22.9C178.3,118,172.9,125.8,166.9,133.1z')
                g#dir5_med.dir3st2
                    path.dir3st3(d='M164.8,124.4c-3.5,3.9-7,7.8-10.8,11.4c-3.8,3.7-7.9,7.3-12.5,9.8c-9.7,5.2-24.3,8.6-35.2,9.7 c-5.8,0.6-11.9,0.3-17.8-0.4c-4.7-0.6-8.7-0.5-13.2-2.5c-2.4-1-4.8-2.1-7.2-3.1c-6.2-2.7-12.5-5.5-18-9.4 c-8.1-5.8-14.3-14.2-18.2-23.4c-3.9-9.2-5.6-19.3-5.6-29.3c0-10.4,3.9-20.2,8.8-29.2c4.7-8.8,11.2-16.7,19.3-22.6 c8.3-6.1,17.9-10,27.8-12.9c4.5-1.3,9.1-2.4,13.8-2.1c3.6,0.2,7.1,1.2,10.7,1.6c6.7,0.7,13.4-0.5,20.1-0.3 c21.3,0.8,42.3,11,53.9,29.2c8.7,13.6,11.4,31.7,4.7,46.4c-3,6.6-7.7,12.2-12.4,17.8C170.2,118.1,167.5,121.3,164.8,124.4z')
                g#dir5_small.dir3st4
                    path.dir3st5(d='M139.5,118.1c-4.2,5.1-8.7,9.9-13.7,13.7c-6.4,5-15.1,7.1-23,8.1c-4.1,0.5-7.4-0.1-11.4-0.4 c-4.2-0.2-8.2,1.4-12.4,1.6c-5.6,0.2-11-2.3-15.7-5.3c-6.3-4-11.8-9.1-17.4-14.1c-2.3-2.1-4.7-4.3-6.3-7c-2.4-3.9-3.1-8.7-3.2-13.3 c-0.2-9.2,1.3-20.3,6.7-27.9c4.9-6.9,8.5-15.4,15.4-20.7c7.7-5.9,17.7-7.7,27.3-9.3c9.5-1.6,19.3,0.5,28.4-2.3 c8.6-2.6,18-2,25.7,2.8c8,5,10.9,12.2,13.7,20.6c2.8,8.3,5.7,16.3,3.6,25.3c-1.2,5.3-4.2,9.9-7.4,14.3 C146.8,108.7,143.3,113.5,139.5,118.1z')
        #man5
            svg#Layer_1(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 166.5 136.5', style='enable-background:new 0 0 166.5 136.5;', xml:space='preserve')
                g
                    g#allhand5
                        path.stm50(d='M35.3,64.2c0,0,14.9,22.7,56.4,22.7')
                        path.stm50(d='M94.6,87.6c0,0,17,10.1,45.2,1.8')
                        path.stm51(d='M36.7,65c-3.1,2.2-7.4,2.8-10.3,0c-1.5-1.5-2.8-3.2-4-5c-1.2-2-2.5-4-2.3-6.4c0.1-0.8,0.1-1.7,0.5-2.5 c0.4-0.8,1-1.5,1.7-2.1c1.3-1.2,3-2.4,4.7-2c1.1,0.3,3.1,1.7,4.1,0.4c0.3-0.3,0.1-0.7,0.5-1c0.4-0.3,1-0.1,1.4,0.1 c1.8,0.8,3.1,2.3,4.1,3.9c0.6,1.1,1.1,2.2,1.6,3.3c0.5,1.2,1,2.3,1,3.6c0,1.2,0.4,2.6,0.1,3.9c-0.2,0.6-0.5,1.1-0.8,1.5 C38.4,63.6,37.6,64.4,36.7,65z')
                        lineargradient#SVGID_m5_1_(gradientunits='userSpaceOnUse', x1='44.5326', y1='76.5985', x2='57.4242', y2='76.5985')
                            stop(offset='0', style='stop-color:#8EFF78')
                            stop(offset='1', style='stop-color:#7AE480')
                        path.stm52(d='M51.9,66.5c0-0.7,0.7-1.1,1.3-0.7c1.2,0.7,2.8,2.1,3.9,4.2c1.8,3.5-5.1,14.4-8.7,17.3 c-0.2,0.2-0.5,0.2-0.7,0.1c-1.1-0.3-3.8-1.6-3-2.9C45.7,82.7,51.9,74.2,51.9,66.5z')
                        g
                            lineargradient#SVGID_m5_2_(gradientunits='userSpaceOnUse', x1='-2879.5896', y1='-2994.0486', x2='-2866.698', y2='-2994.0486', gradienttransform='matrix(0.8717 0.4899 -0.4899 0.8718 1161.2039 4109.73)')
                                stop(offset='0', style='stop-color:#8EFF78')
                                stop(offset='1', style='stop-color:#7AE480')
                            path.stm53(d='M127.5,82.7c0.3-0.6-0.1-1.3-0.8-1.2c-1.4,0.1-3.5,0.4-5.5,1.7c-3.3,2.1-2.6,15-0.8,19.4 c0.1,0.2,0.3,0.4,0.5,0.5c1.1,0.3,4.1,0.4,4.1-1.1C124.9,99.9,123.8,89.4,127.5,82.7z')
                        g
                            rect.stm54(x='9.2', y='31.6', width='34.9', height='24.2')
                            path.stm54(d='M44.1,38.7c-1.5-1.3-3.5-2-5.6-2c-4.8,0-8.7,3.9-8.7,8.7s3.9,8.7,8.7,8.7c2.1,0,4.1-0.8,5.6-2V38.7z')
                            path.stm55(d='M38.6,36.7c2.1,0,4.1,0.8,5.6,2v-7.1H9.2v8.1H32C33.6,37.8,36,36.7,38.6,36.7z')
                            rect.stm54(x='11.4', y='38.2', width='20.3', height='0.5')
                            rect.stm55(x='11.4', y='50.1', width='15.7', height='0.5')
                            rect.stm55(x='11.4', y='53.6', width='18.5', height='0.5')
                            rect.stm55(x='11.4', y='52.4', width='16.4', height='0.5')
                            rect.stm55(x='11.4', y='51.3', width='17', height='0.5')
                            rect.stm54(x='11.4', y='32.6', width='22.6', height='4.3')
                            path.stm56(d='M44.1,38.9c-2.9-2.5-7.3-2.8-10.7-0.5c-1.9,1.3-3,3.2-3.5,5.3c0.6-1.8,1.7-3.5,3.3-4.7 c3.4-2.4,7.9-2.1,10.8,0.6V38.9z')
                            g
                                path.stm57(d='M34.2,48.9c-0.4-0.2-0.7-0.6-0.7-1.1c0-0.3,0.1-0.6,0-0.9c-0.1-0.3-0.4-0.4-0.5-0.7 c-0.2-0.4,0.1-0.9,0.3-1.3c0.1-0.1,0.1-0.2,0.1-0.3c0-0.2-0.2-0.4-0.3-0.5c-0.2-0.3-0.3-0.8-0.1-1.1c0-0.1,0.1-0.2,0.1-0.3 c0-0.1,0-0.2-0.1-0.3c-0.1-0.4,0.1-0.8,0.5-1c0.4-0.2,0.8-0.1,1.1,0.2c0.1,0.1,0.1,0.2,0.3,0.2c0.1,0,0.3,0,0.4-0.1 c0.5-0.2,1-0.3,1.5-0.2c0.1,0,0.2,0,0.3,0c0.1,0,0.2-0.1,0.2-0.1c0.6-0.3,1.3-0.1,2,0.1c0.1,0,0.2,0.1,0.3,0.1 c0.1,0,0.2-0.1,0.3-0.1c0.5-0.4,1.2-0.4,1.8-0.2c0.2,0.1,0.4,0.2,0.5,0.3c0.3,0.3,0.3,0.7,0.3,1.1c-0.1,0.4-0.3,0.7-0.5,1.1 c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.1,0.1,0.1,0.1,0.2c0.3,0.3,0.5,0.8,0.5,1.3c0,0.5-0.2,0.9-0.5,1.2c-0.1,0.1-0.1,0.1-0.2,0.2 c0,0.1,0,0.2,0,0.2c0.1,0.3,0.2,0.7,0.1,1c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.2,0,0.5,0,0.7c0,0.4-0.1,0.8-0.4,1 c-0.3,0.2-0.7,0.3-1.1,0.1c-0.2-0.1-0.4-0.3-0.6-0.4c-0.2-0.1-0.5-0.1-0.7,0.1c-0.1,0.1-0.1,0.2-0.1,0.3 c-0.1,0.4-0.3,0.8-0.7,1.1c0.1,0.2,0.1,0.4,0,0.6c-0.1,0-0.2,0-0.4,0c0.1-0.8-0.8-1.5-0.6-2.3c0-0.1,0.1-0.2,0.1-0.3 c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.3,0-0.7,0.1-1c0.1-0.3,0.3-0.7,0.6-0.9c0.3-0.2,0.8-0.1,0.9,0.3c0.2-0.1,0.4-0.1,0.6,0 c0-0.5,0.2-1,0.7-1.3c-0.3-0.3-0.4-0.8-0.3-1.2s0.3-0.8,0.5-1.2c-0.2,0.3-0.5,0.4-0.8,0.4c-0.3,0-0.6-0.1-0.9-0.2 c-0.1,0-0.2-0.1-0.3,0c-0.1,0-0.2,0.2-0.3,0.3c-0.3,0.3-0.8,0.3-1.2,0c-0.4,0.4-1,0.5-1.5,0.4c0,0.2-0.1,0.3-0.2,0.4 c0.6,0.4,0.8,1.1,0.7,1.8c0.4,0.4,0.5,1.1,0.2,1.7c0,0,0,0.1,0,0.1c0,0.1,0.1,0.1,0.1,0.1c0.2,0.2,0.4,0.5,0.3,0.8 c-0.1,0.2-0.2,0.4-0.3,0.6c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1c-0.1-0.1-0.3-0.3-0.4-0.3c0,0,0,0,0,0 c0,0,0,0,0,0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0-0.1,0.1-0.2,0.1-0.3c0.1-0.2,0.1-0.3,0-0.5 C35.2,49,34.7,49.1,34.2,48.9z')
                        path.stm58(d='M141.7,89.7c0.6,1.5,1.5,2.8,2.8,3.9c1.5,1.3,3.9,1.3,5.8,1.1c1.3-0.1,2.6-0.3,3.9-0.6 c0.7-0.2,1.4-0.2,1.9-0.7c0.8-0.7,1.2-1.7,1.3-2.7c0.2-1,0.1-2,0.1-3.1c0-0.8-0.1-1.6-0.3-2.4c-0.1-0.5-0.3-0.9-0.5-1.3 c-0.4-0.9-0.7-1.8-1.3-2.6c-0.2-0.4-0.5-0.7-0.8-1c-0.8-0.6-2-0.8-2.9-0.6c-0.5,0.1-1.8,0.8-2-0.1c-0.1-0.2,0-0.5,0-0.8 c0.1-0.7,0-1.5-0.2-2.2c-0.1-0.4-0.2-0.7-0.4-1c-0.2-0.2-0.5-0.4-0.8-0.5c-0.9-0.3-2-0.1-2.6,0.7c-0.3,0.3-0.4,0.7-0.6,1 c-0.4,1.1-0.5,2.3-1,3.4c-0.5,0.9-1.2,1.6-1.8,2.5C140.7,84.7,140.8,87.4,141.7,89.7z')
                        path.stm51(d='M149.6,85.9c0.1,1.8,0.7,3.6,1.3,5.2c0.3,0.9,0.7,1.7,1.4,2.4c1,0.9,2.3,0.8,3.4,0.1c1.4-0.9,1.6-2,2-3.4 c0.8-2.9,0.2-6.1-1.7-8.5c-1-1.3-3.5-3.6-5.1-1.4c-1.2,1.6-1.5,3.7-1.4,5.6C149.6,85.8,149.6,85.8,149.6,85.9z')
                    g#tul5
                        path.stm59(d='M116.4,124.3c0.3-1.9,0.4-3.9,0.4-5.9c0-20.2-14.2-43.9-31.7-43.9s-31.7,23.7-31.7,43.9c0,2,0.1,3.9,0.4,5.9 H116.4z')
                        path.stm510(d='M77.9,128.7H37c0,0,1.4-11.3,12.7-11.3S77.9,128.7,77.9,128.7z')
                        path.stm510(d='M88.8,130h40.9c0,0-1.4-11.3-12.7-11.3C105.7,118.6,88.8,130,88.8,130z')
                        lineargradient#SVGID_m5_3_(gradientunits='userSpaceOnUse', x1='-6474.0879', y1='-4676.8921', x2='-6440.3638', y2='-4676.8921', gradienttransform='matrix(0.3948 0.6107 -0.7872 0.526 -1023.0481 6533.3027)')
                            stop(offset='0', style='stop-color:#8EFF78')
                            stop(offset='1', style='stop-color:#7AE480')
                        path.stm511(d='M130.1,126.4c0.5-0.3,1.1-0.1,1.1,0.4c-0.1,1.1-0.5,2.8-1.8,4.6c-2,2.9-37.7,2.3-41.5,1.7 c-0.2,0-0.3-0.2-0.4-0.4c-0.2-0.8-0.2-3.2,1.1-3.4C90.5,129.1,124.1,130.4,130.1,126.4z')
                        lineargradient#SVGID_m5_4_(gradientunits='userSpaceOnUse', x1='-17778.6387', y1='8445.4004', x2='-17744.9141', y2='8445.4004', gradienttransform='matrix(-0.3948 0.6107 0.7872 0.526 -13603.4482 6533.3027)')
                            stop(offset='0', style='stop-color:#8EFF78')
                            stop(offset='1', style='stop-color:#7AE480')
                        path.stm512(d='M36.4,125.2c-0.5-0.3-1.1-0.1-1.1,0.4c0.1,1.1,0.5,2.8,1.8,4.6c2,2.9,37.7,2.3,41.5,1.7 c0.2,0,0.3-0.2,0.4-0.4c0.2-0.8,0.2-3.2-1.1-3.4C76,127.9,42.5,129.2,36.4,125.2z')
                        g
                            g
                                lineargradient#SVGID_m5_5_(gradientunits='userSpaceOnUse', x1='-1517.7346', y1='14056.5947', x2='-1495.5652', y2='14074.377', gradienttransform='matrix(-7.318882e-05 -0.7475 0.7475 2.011723e-05 -10430.6377 -1023.6417)')
                                    stop(offset='0', style='stop-color:#8EFF78')
                                    stop(offset='1', style='stop-color:#7AE480')
                                path.stm513(d='M91.2,91.8l0,18.3c0,2.2-1.8,4-4,4l-4.2,0c-2.2,0-4-1.8-4-4l0-18.3c0-2.2,1.8-4,4-4l4.2,0 C89.4,87.8,91.2,89.6,91.2,91.8z')
                    g#head5
                        ellipse.stm51(cx='88.1', cy='45.4', rx='36.2', ry='34.7')
                        path.stm59(d='M51.9,54.2c-0.8-3.1-1.4-7.1-1.4-10.4C51.1,24.2,67.9,8.5,88.1,8.5c17.3,0,31.5,11.2,35,26.8 c0,0-12.4-5-34.4,0.2C66.4,40.8,51.9,54.2,51.9,54.2z')
                        path.stm510(d='M51.9,54.7c0,0,1.1-21.1,5.1-26.1c5.9-7.4,13.6-10.1,22.3-12.7c20.2-6.1,31.5-6.1,49.8-1.1 c4.1,1.1,5.9,5.1,3.6,8.8l-9.7,12.3C123.1,35.8,89.7,24.6,51.9,54.7z')
    #h4ic1
        .ictext
            .thd Устраняет
            .thdop колики, спазмы и вздутие
        .line
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 313 147', enable-background='new 0 0 313 147', xml:space='preserve')
                path(fill-rule='evenodd', stroke='rgb(49, 204, 153)', stroke-width='3px', stroke-dasharray='1.5, 6', stroke-linecap='round', stroke-linejoin='miter', fill='none', d='M308.5,24.5c-118.1-47.8-234.8-0.9-256,76')
                lineargradient#SVGID_1tr3_(gradientunits='userSpaceOnUse', x1='57.1399', y1='65.4871', x2='56.4328', y2='66.1942', gradienttransform='matrix(51.9283 23.2386 29.0374 -64.886 -4816.2637 3046.9067)')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path(fill='url(#SVGID_1tr3_)', d='M64.7,143l-0.3-0.2l-0.1,0.1l-22.6-14.7l0.1-0.1L21,114.7l14.7-22.6l20.1,13.2l12.3-20.1l22.7,14.6l-20.8,34 L64.7,143z')

    #h4ic2
        .ictext
            .thd Регулирует
            .thdop перистальтику и нормализует стул (как запор, так и понос)
        .line
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 266.5 106', enable-background='new 0 0 266.5 106', xml:space='preserve')
                path(fill-rule='evenodd', stroke='rgb(49, 204, 153)', stroke-width='3px', stroke-dasharray='1.5, 6', stroke-linecap='round', stroke-linejoin='miter', fill='none', d='M146.500,43.500 C102.371,-22.878 4.500,-4.840 4.500,104.500 ')
                lineargradient#SVGID_1tr2_(gradientunits='userSpaceOnUse', x1='135.5546', y1='48.739', x2='134.8475', y2='49.4461', gradienttransform='matrix(41.5739 38.8355 48.5261 -51.9478 -7968.2012 -2634.5901)')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path(fill='url(#SVGID_1tr2_)', d='M125.5,73l0.9-27l24,1l0.1-23.6l27,0.9l-0.3,39.8l0.2,10.6L125.5,73z')
    #h4ic3
        .ictext
            .thd Защищает
            .thdop
                | клетки кишечника от
                br
                | повреждения токсинами

        .line
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 212 175', enable-background='new 0 0 212 175', xml:space='preserve')
                path(fill-rule='evenodd', stroke='rgb(49, 204, 153)', stroke-width='3px', stroke-dasharray='1.5, 6', stroke-linecap='round', stroke-linejoin='miter', fill='none', d='M171.5,123.5C186.1-8.2,49.7-19.7,4.5,39.5')
                lineargradient#SVGID_1tr1_(gradientunits='userSpaceOnUse', x1='1.6216', y1='29.08', x2='0.9145', y2='29.7871', gradienttransform='matrix(3.483569e-15 56.891 71.087 -4.352823e-15 -1884.943 -23.651)')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path(fill='url(#SVGID_1tr1_)', d='M169.3,170.1l-0.2-0.2L169,170l-17.8-20.3l0.1-0.1L135,131l20.3-17.8l15.7,18.2l17.3-16l17.8,20.3l-29.3,27 L169.3,170.1z')
    #h4ic4
        .ictext
            .thd Восстанавливает
            .thdop защитный барьер кишечника
        .line
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 220 162.9', enable-background='new 0 0 220 162.9', xml:space='preserve')
                path(fill-rule='evenodd', stroke='rgb(49, 204, 153)', stroke-width='3px', stroke-dasharray='1.5, 6', stroke-linecap='round', stroke-linejoin='miter', fill='none', d='M215.2,25.5c-71.7-37.2-153.9-32.8-177,91')
                lineargradient#SVGID_1tr4_(gradientunits='userSpaceOnUse', x1='74.0815', y1='34.5903', x2='73.3744', y2='35.2974', gradienttransform='matrix(-5.6786 56.6069 70.732 7.0956 -2008.3986 -4382.8364)')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path(fill='url(#SVGID_1tr4_)', d='M43.1,161.7l-0.2-0.1l-0.1,0.1L22,144.4l0.1-0.1L3.3,128.4l17.3-20.7l18.3,15.5l14.6-18.5L74.3,122l-24.7,31.2 L43.1,161.7z')

    #h4fic1
        .ictext
            .thd Укрепляет
            .thdop местный иммунитет
        .line
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 231 96.5', enable-background='new 0 0 231 96.5', xml:space='preserve')
                path(fill-rule='evenodd', stroke='rgb(49, 204, 153)', stroke-width='3px', stroke-dasharray='1.5, 6', stroke-linecap='round', stroke-linejoin='miter', fill='none', d='M188.5,47.5c-44.2-58-150.8-58.9-185,8')
                lineargradient#SVGID_1tr5_(gradientunits='userSpaceOnUse', x1='277.7422', y1='18.386', x2='277.0351', y2='17.6789', gradienttransform='matrix(22.5486 52.2316 -65.265 28.1752 -4880.8281 -14944.4014)')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path(fill='url(#SVGID_1tr5_)', d='M205.9,92l-0.2-0.2l-0.1,0.1l-24.4-11.7l0.1-0.1l-22.3-10.6l11.7-24.3l21.6,10.4l9.6-21.6l24.4,11.7l-16.2,36.4 L205.9,92z')

    #h4fic2
        .ictext
            .thd Нормализует
            .thdop микрофлору кишечника
        .line
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 170.3 211.9', enable-background='new 0 0 170.3 211.9', xml:space='preserve')
                path(fill-rule='evenodd', stroke='rgb(49, 204, 153)', stroke-width='3px', stroke-dasharray='1.5, 6', stroke-linecap='round', stroke-linejoin='miter', fill='none', d='M131.5,179.8C-4,130.3,2.5,63.7,2.5,0.8')
                lineargradient#SVGID_1tr6_(gradientunits='userSpaceOnUse', x1='140.0386', y1='48.7405', x2='139.3315', y2='49.4476', gradienttransform='matrix(-7.5302 56.3904 70.4615 9.4092 -2361.2166 -8268.876)')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path(fill='url(#SVGID_1tr6_)', d='M135.6,208.2l-0.2-0.1l-0.1,0.1l-20.5-17.6l0.1-0.1L96,174.6l17.5-20.6l18.2,15.7l14.7-18.4l20.6,17.5 l-24.9,31.1L135.6,208.2z')

    #h4fic3
        .ictext
            .thd Питает
            .thdop
                | клетки кишечника энергией
                br
                | и витаминами
        .line
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 231 157.5', enable-background='new 0 0 231 157.5', xml:space='preserve')
                path(fill-rule='evenodd', stroke='rgb(49, 204, 153)', stroke-width='3px', stroke-dasharray='1.5, 6', stroke-linecap='round', stroke-linejoin='miter', fill='none', d='M222.8,3.5c0,49.1-65.2,102.2-185,121')
                lineargradient#SVGID_1tr7_(gradientunits='userSpaceOnUse', x1='126.1795', y1='69.9071', x2='125.4724', y2='70.6142', gradienttransform='matrix(0.1547 56.8908 71.0867 -0.1934 -4964.3062 -7031.6152)')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path(fill='url(#SVGID_1tr7_)', d='M27.1,151.9l-0.1-0.2l-0.1,0.1l-11.9-24.3l0.1-0.1L4.2,105.3l24.3-11.9L38.8,115l20.9-10.9l11.8,24.2 l-35.3,18.5L27.1,151.9z')
