img#fon_1(src='/assets/img/sec1-2.jpg')
.fbutt
    #btn_text
        p
            span Найти зафакол
    #btn_str
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='10.5px', height='16.5px')
            path#btn_str_svg(fill-rule='evenodd', stroke='rgb(255, 255, 255)', stroke-width='1px', stroke-linecap='butt', stroke-linejoin='miter', fill='none', d='M1.199,0.563 L8.666,8.030 L1.199,15.497 ')
    #fbutt_cont
#sec1.item_sl1
    #block_first.ftext
        h1 Ваш кишечник устал и не работает по-прежнему?

