#sec5
    //img#fon_1(src='/assets/img/sec5.jpg')
    #dirapack
        #dirapack_ov
            svg(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 501 451', style='enable-background:new 0 0 501 451;', xml:space='preserve')
                style(type='text/css').
                    .ovsst0 {
                        filter: url(#Filter_ovs02);
                    }

                    .ovsst1 {
                        fill: #1197B0;
                    }

                    .ovsst2 {
                        filter: url(#Filter_ovs01);
                    }

                    .ovsst3 {
                        fill: #117D8F;
                    }

                    .ovsst4 {
                        filter: url(#Filter_ovs0);
                    }

                    .ovsst5 {
                        fill: #116A78;
                    }
                filter#Filter_ovs02
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                filter#Filter_ovs01
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                filter#Filter_ovs0
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                g.ovsst0
                    path.ovsst1(d='M27.4,161.3C97.2,19.4,273.7-11,415.8,16.4c16.5,3.2,33.3,7.4,46.7,17.5c18.7,14,28.2,37.7,30.3,60.9\
                c2.2,24.2,1.1,49.5-2.4,75.2c-8.9,65.1-33,132.1-56.5,187.8c-44.4,105.2-195.9,87.7-285.2,58C45.3,381.4-24,265.8,27.4,161.3z')
                g.ovsst2
                    path.ovsst3(d='M403.7,319.1c-8.9,10.1-18.1,20-27.8,29.4c-9.8,9.6-20.3,18.7-32.4,25.3c-25,13.5-62.6,22.2-90.8,24.9\
                c-15.3,1.5-30.7,0.3-46-1.1c-17.7-1.5-35.3-3.2-53-4.9c-32.9-3.3-62.7-10.1-81.8-39.2c-13.5-20.6-21.7-44.9-24.8-69.3\
                c-2.6-20.5-5.1-44.6-1.7-64.9c8.3-49.3,31.8-98.8,73.5-129c21.4-15.5,46.3-25.7,71.7-33c11.6-3.3,23.5-6.1,35.6-5.5\
                c9.3,0.5,18.3,3,27.5,4c17.2,1.9,34.5-1.4,51.8-0.7c55,2.1,109,28.3,139,74.9c22.5,35,29.5,81.3,12.1,119.1\
                c-7.8,16.9-19.9,31.5-32,45.7C417.7,303,410.7,311.1,403.7,319.1z')
                g.ovsst4
                    path.ovsst5(d='M365.3,301.2c-11.4,13.8-23.7,26.9-37.1,37.3c-17.5,13.5-41.1,19.4-62.7,22c-11.1,1.3-20.2-0.4-31-1\
                c-11.3-0.6-22.4,3.9-33.6,4.3c-15.3,0.5-29.9-6.2-42.7-14.5c-17.1-11-32.2-24.8-47.2-38.5c-6.3-5.8-12.8-11.7-17.2-19\
                c-6.5-10.7-8.3-23.7-8.6-36.3c-0.5-25,3.6-55.4,18.2-76.1c13.4-18.8,23-41.9,41.9-56.4c21-16.1,48.2-21,74.2-25.4\
                c25.8-4.4,52.5,1.5,77.3-6.1c23.5-7.2,48.8-5.5,70,7.8c21.7,13.5,29.7,33.1,37.3,56.1c7.5,22.6,15.5,44.5,9.9,69\
                c-3.3,14.3-11.5,27-20.1,38.9C385.1,275.6,375.6,288.7,365.3,301.2z')



        #pilul
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
                style(type='text/css').
                    .stpil0 {
                        fill: url(#SVGID_pil1_);
                    }

                    .stpil1 {
                        fill: url(#SVGID_pil2_);
                    }
                g
                    g
                        g
                            lineargradient#SVGID_pil1_(gradientunits='userSpaceOnUse', x1='1150.5193', y1='1613.9653', x2='1171.1101', y2='1629.3999', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.stpil0(d='M21.9,11.9L9,18.6l0.3,0.7l0,0l3,5.8c1.7,3.4,5.8,5,9.3,3.6c4-1.7,5.6-6.3,3.7-10.1l-2.2-4.1l0,0L21.9,11.9z')
                            lineargradient#SVGID_pil2_(gradientunits='userSpaceOnUse', x1='1150.8881', y1='1606.2332', x2='1171.4983', y2='1621.6824', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.stpil1(d='M21.6,11.4l-3.4-6.7c-1.8-3.6-6.2-4.9-9.8-3.1l0,0c-3.6,1.9-4.9,6.2-3.1,9.8L8.7,18L21.6,11.4z')
        #pilul2
            svg(version='1.0', id='pilul2_in', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
                style(type='text/css').
                    .stpil0 {
                        fill: url(#SVGID_pil1_);
                    }
                    .stpil1 {
                        fill: url(#SVGID_pil2_);
                    }
                g
                    g
                        g
                            lineargradient#SVGID_pil1_(gradientunits='userSpaceOnUse', x1='1150.5193', y1='1613.9653', x2='1171.1101', y2='1629.3999', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.stpil0(d='M21.9,11.9L9,18.6l0.3,0.7l0,0l3,5.8c1.7,3.4,5.8,5,9.3,3.6c4-1.7,5.6-6.3,3.7-10.1l-2.2-4.1l0,0L21.9,11.9z')
                            lineargradient#SVGID_pil2_(gradientunits='userSpaceOnUse', x1='1150.8881', y1='1606.2332', x2='1171.4983', y2='1621.6824', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.stpil1(d='M21.6,11.4l-3.4-6.7c-1.8-3.6-6.2-4.9-9.8-3.1l0,0c-3.6,1.9-4.9,6.2-3.1,9.8L8.7,18L21.6,11.4z')
        #goodic
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 62 52.3', style='enable-background:new 0 0 62 52.3;', xml:space='preserve')
                style(type='text/css').
                    .good0 {
                        fill: url(#SVGIDgood_1_);
                    }
                g
                    g
                        lineargradient#SVGIDgood_1_(gradientunits='userSpaceOnUse', x1='-338.7705', y1='-1544.3264', x2='-306.8888', y2='-1544.3264', gradienttransform='matrix(1.3969 -9.469970e-02 -9.459668e-02 -1.3966 336.9444 -2162.0388)')
                            stop(offset='0', style='stop-color:#31A9B3')
                            stop(offset='0.1482', style='stop-color:#31B7A8')
                            stop(offset='0.4095', style='stop-color:#31C99B')
                            stop(offset='0.6859', style='stop-color:#31D493')
                            stop(offset='1', style='stop-color:#31D790')
                        path.good0(d='M9.9,28.3c1.2-1.2,2.3-2.5,3.4-3.8c0.9-1,1.8-1.8,2.7-2.8c0,0,0,0,0.1,0c0.4-0.1,0.9,0.4,1.3,0.6\
                  c0.3,0.2,0.6,0.4,0.9,0.6c0.9,0.5,1.7,1.1,2.6,1.6c1.2,0.7,2.3,1.4,3.5,2.2c0.5,0.3,1.1,0.6,1.6,1c0.4,0.3,0.8,0.4,1.3,0.6\
                  c0,0,0,0,0.1,0c0,0,0,0,0.1-0.1c0.9-1.1,1.9-2.3,2.8-3.4c1.3-1.7,2.7-3.3,4-5c1.8-2.3,3.7-4.6,5.6-6.9c1.5-1.8,2.7-4.3,4.7-5.5\
                  c2.2-1.3,7.1,3.2,8.9,4.6c0.1,0.1,0.3,0.2,0.3,0.4c0,0.1-0.1,0.3-0.2,0.4c-1.9,2.8-24.9,30.1-24.9,30.1c-0.5-0.4-1.1-0.8-1.6-1.3\
                  c-1.3-1-2.6-2.1-4-3.1c-1.7-1.3-3.3-2.6-5-3.9c-1.5-1.2-3.1-2.4-4.6-3.6c-1-0.8-2-1.5-3-2.3C10.2,28.6,10,28.5,9.9,28.3z')
        #packpill
            #packpill_in
                img(class="osnova" src='/assets/img/PillsPack.png')
                img(class="back_osnova" src='/assets/img/PillsPack_slice.png')
    #sec5_txt
            #ftext_5
                h1 Что такое зафакол?
            #ftext_op
                p Зафакол - колонопротектор, который благодоря своему комплексному действию, снабжает кишечник энергией, обеспечивает его слаженную работу, устраняет дискомфорт в животе, питает и поддерживает кишечную микрофлору, укрепляет местный иммунитет.
            a(href='/assets/img/Zafacol_PIL_.pdf' target='_blank')
                #button5
                    #btn_text
                        p
                            span Инструкция
                    #btn_str
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='10.5px', height='16.5px')
                            path#btn_str_svg(fill-rule='evenodd', stroke='rgb(255, 255, 255)', stroke-width='1px', stroke-linecap='butt', stroke-linejoin='miter', fill='none', d='M1.199,0.563 L8.666,8.030 L1.199,15.497 ')
                    #fbutt_cont
                    #btn_contur
#sec5_half
    #sec5_half_inn
        #dirapack.dbl
            #dirapack_ov
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 501 451', style='enable-background:new 0 0 501 451;', xml:space='preserve')
                    style(type='text/css').
                        .ovsst0 {
                            filter: url(#Filter_ovs02);
                        }

                        .ovsst1 {
                            fill: #1197B0;
                        }

                        .ovsst2 {
                            filter: url(#Filter_ovs01);
                        }

                        .ovsst3 {
                            fill: #117D8F;
                        }

                        .ovsst4 {
                            filter: url(#Filter_ovs0);
                        }

                        .ovsst5 {
                            fill: #116A78;
                        }
                    filter#Filter_ovs02
                        feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                        fegaussianblur(result='blurOut', stddeviation='3.162')
                        feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                        fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                        fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                        fecomponenttransfer
                            fefunca(slope='0.63', type='linear')
                        feblend(in2='SourceGraphic', mode='multiply')
                    filter#Filter_ovs01
                        feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                        fegaussianblur(result='blurOut', stddeviation='3.162')
                        feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                        fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                        fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                        fecomponenttransfer
                            fefunca(slope='0.63', type='linear')
                        feblend(in2='SourceGraphic', mode='multiply')
                    filter#Filter_ovs0
                        feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                        fegaussianblur(result='blurOut', stddeviation='3.162')
                        feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                        fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                        fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                        fecomponenttransfer
                            fefunca(slope='0.63', type='linear')
                        feblend(in2='SourceGraphic', mode='multiply')
                    g.ovsst0
                        path.ovsst1(d='M27.4,161.3C97.2,19.4,273.7-11,415.8,16.4c16.5,3.2,33.3,7.4,46.7,17.5c18.7,14,28.2,37.7,30.3,60.9\
                        c2.2,24.2,1.1,49.5-2.4,75.2c-8.9,65.1-33,132.1-56.5,187.8c-44.4,105.2-195.9,87.7-285.2,58C45.3,381.4-24,265.8,27.4,161.3z')
                    g.ovsst2
                        path.ovsst3(d='M403.7,319.1c-8.9,10.1-18.1,20-27.8,29.4c-9.8,9.6-20.3,18.7-32.4,25.3c-25,13.5-62.6,22.2-90.8,24.9\
                        c-15.3,1.5-30.7,0.3-46-1.1c-17.7-1.5-35.3-3.2-53-4.9c-32.9-3.3-62.7-10.1-81.8-39.2c-13.5-20.6-21.7-44.9-24.8-69.3\
                        c-2.6-20.5-5.1-44.6-1.7-64.9c8.3-49.3,31.8-98.8,73.5-129c21.4-15.5,46.3-25.7,71.7-33c11.6-3.3,23.5-6.1,35.6-5.5\
                        c9.3,0.5,18.3,3,27.5,4c17.2,1.9,34.5-1.4,51.8-0.7c55,2.1,109,28.3,139,74.9c22.5,35,29.5,81.3,12.1,119.1\
                        c-7.8,16.9-19.9,31.5-32,45.7C417.7,303,410.7,311.1,403.7,319.1z')
                    g.ovsst4
                        path.ovsst5(d='M365.3,301.2c-11.4,13.8-23.7,26.9-37.1,37.3c-17.5,13.5-41.1,19.4-62.7,22c-11.1,1.3-20.2-0.4-31-1\
                        c-11.3-0.6-22.4,3.9-33.6,4.3c-15.3,0.5-29.9-6.2-42.7-14.5c-17.1-11-32.2-24.8-47.2-38.5c-6.3-5.8-12.8-11.7-17.2-19\
                        c-6.5-10.7-8.3-23.7-8.6-36.3c-0.5-25,3.6-55.4,18.2-76.1c13.4-18.8,23-41.9,41.9-56.4c21-16.1,48.2-21,74.2-25.4\
                        c25.8-4.4,52.5,1.5,77.3-6.1c23.5-7.2,48.8-5.5,70,7.8c21.7,13.5,29.7,33.1,37.3,56.1c7.5,22.6,15.5,44.5,9.9,69\
                        c-3.3,14.3-11.5,27-20.1,38.9C385.1,275.6,375.6,288.7,365.3,301.2z')



            #pilul
                svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
                    style(type='text/css').
                        .stpil0 {
                            fill: url(#SVGID_pil1_);
                        }

                        .stpil1 {
                            fill: url(#SVGID_pil2_);
                        }
                    g
                        g
                            g
                                lineargradient#SVGID_pil1_(gradientunits='userSpaceOnUse', x1='1150.5193', y1='1613.9653', x2='1171.1101', y2='1629.3999', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                    stop(offset='0', style='stop-color:#31A9B3')
                                    stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                    stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                    stop(offset='0.1026', style='stop-color:#55D0EE')
                                    stop(offset='0.1469', style='stop-color:#5CD8F9')
                                    stop(offset='0.1973', style='stop-color:#5EDAFC')
                                    stop(offset='0.7568', style='stop-color:#31D790')
                                    stop(offset='1', style='stop-color:#30B7DB')
                                path.stpil0(d='M21.9,11.9L9,18.6l0.3,0.7l0,0l3,5.8c1.7,3.4,5.8,5,9.3,3.6c4-1.7,5.6-6.3,3.7-10.1l-2.2-4.1l0,0L21.9,11.9z')
                                lineargradient#SVGID_pil2_(gradientunits='userSpaceOnUse', x1='1150.8881', y1='1606.2332', x2='1171.4983', y2='1621.6824', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                    stop(offset='0', style='stop-color:#31A9B3')
                                    stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                    stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                    stop(offset='0.1026', style='stop-color:#55D0EE')
                                    stop(offset='0.1469', style='stop-color:#5CD8F9')
                                    stop(offset='0.1973', style='stop-color:#5EDAFC')
                                    stop(offset='0.7568', style='stop-color:#31D790')
                                    stop(offset='1', style='stop-color:#30B7DB')
                                path.stpil1(d='M21.6,11.4l-3.4-6.7c-1.8-3.6-6.2-4.9-9.8-3.1l0,0c-3.6,1.9-4.9,6.2-3.1,9.8L8.7,18L21.6,11.4z')
            #pilul2
                svg(version='1.0', id='pilul2_in', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
                    style(type='text/css').
                        .stpil0 {
                            fill: url(#SVGID_pil1_);
                        }

                        .stpil1 {
                            fill: url(#SVGID_pil2_);
                        }
                    g
                        g
                            g
                                lineargradient#SVGID_pil1_(gradientunits='userSpaceOnUse', x1='1150.5193', y1='1613.9653', x2='1171.1101', y2='1629.3999', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                    stop(offset='0', style='stop-color:#31A9B3')
                                    stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                    stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                    stop(offset='0.1026', style='stop-color:#55D0EE')
                                    stop(offset='0.1469', style='stop-color:#5CD8F9')
                                    stop(offset='0.1973', style='stop-color:#5EDAFC')
                                    stop(offset='0.7568', style='stop-color:#31D790')
                                    stop(offset='1', style='stop-color:#30B7DB')
                                path.stpil0(d='M21.9,11.9L9,18.6l0.3,0.7l0,0l3,5.8c1.7,3.4,5.8,5,9.3,3.6c4-1.7,5.6-6.3,3.7-10.1l-2.2-4.1l0,0L21.9,11.9z')
                                lineargradient#SVGID_pil2_(gradientunits='userSpaceOnUse', x1='1150.8881', y1='1606.2332', x2='1171.4983', y2='1621.6824', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                    stop(offset='0', style='stop-color:#31A9B3')
                                    stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                    stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                    stop(offset='0.1026', style='stop-color:#55D0EE')
                                    stop(offset='0.1469', style='stop-color:#5CD8F9')
                                    stop(offset='0.1973', style='stop-color:#5EDAFC')
                                    stop(offset='0.7568', style='stop-color:#31D790')
                                    stop(offset='1', style='stop-color:#30B7DB')
                                path.stpil1(d='M21.6,11.4l-3.4-6.7c-1.8-3.6-6.2-4.9-9.8-3.1l0,0c-3.6,1.9-4.9,6.2-3.1,9.8L8.7,18L21.6,11.4z')
            #goodic
                svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 62 52.3', style='enable-background:new 0 0 62 52.3;', xml:space='preserve')
                    style(type='text/css').
                        .good0 {
                            fill: url(#SVGIDgood_1_);
                        }
                    g
                        g
                            lineargradient#SVGIDgood_1_(gradientunits='userSpaceOnUse', x1='-338.7705', y1='-1544.3264', x2='-306.8888', y2='-1544.3264', gradienttransform='matrix(1.3969 -9.469970e-02 -9.459668e-02 -1.3966 336.9444 -2162.0388)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='0.1482', style='stop-color:#31B7A8')
                                stop(offset='0.4095', style='stop-color:#31C99B')
                                stop(offset='0.6859', style='stop-color:#31D493')
                                stop(offset='1', style='stop-color:#31D790')
                            path.good0(d='M9.9,28.3c1.2-1.2,2.3-2.5,3.4-3.8c0.9-1,1.8-1.8,2.7-2.8c0,0,0,0,0.1,0c0.4-0.1,0.9,0.4,1.3,0.6\
                          c0.3,0.2,0.6,0.4,0.9,0.6c0.9,0.5,1.7,1.1,2.6,1.6c1.2,0.7,2.3,1.4,3.5,2.2c0.5,0.3,1.1,0.6,1.6,1c0.4,0.3,0.8,0.4,1.3,0.6\
                          c0,0,0,0,0.1,0c0,0,0,0,0.1-0.1c0.9-1.1,1.9-2.3,2.8-3.4c1.3-1.7,2.7-3.3,4-5c1.8-2.3,3.7-4.6,5.6-6.9c1.5-1.8,2.7-4.3,4.7-5.5\
                          c2.2-1.3,7.1,3.2,8.9,4.6c0.1,0.1,0.3,0.2,0.3,0.4c0,0.1-0.1,0.3-0.2,0.4c-1.9,2.8-24.9,30.1-24.9,30.1c-0.5-0.4-1.1-0.8-1.6-1.3\
                          c-1.3-1-2.6-2.1-4-3.1c-1.7-1.3-3.3-2.6-5-3.9c-1.5-1.2-3.1-2.4-4.6-3.6c-1-0.8-2-1.5-3-2.3C10.2,28.6,10,28.5,9.9,28.3z')
            #packpill
                #packpill_in
                    img(class="osnova" src='/assets/img/PillsPack.png')
                    img(class="back_osnova" src='/assets/img/PillsPack_slice.png')
        #accordion
            #spis_1
                .goodsm
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 66 60', enable-background='new 0 0 66 60', xml:space='preserve')
                        defs
                            lineargradient#PSgrad_0(x1='70.711%', x2='0%', y1='70.711%', y2='0%')
                                stop(offset='0%', stop-color='rgb(49,225,128)', stop-opacity='1')
                                stop(offset='100%', stop-color='rgb(56,248,255)', stop-opacity='1')
                        path(fill-rule='evenodd', fill='url(#PSgrad_0)', d='M65.993,13.685 L44.753,41.346 L44.753,41.346 L31.159,59.050 L13.575,45.364 L13.621,45.305 L-0.001,34.628 L13.592,16.925 L27.214,27.601 L48.409,-0.001 L65.993,13.685 Z')

                #spis_1_h
                    #spis_1_h_inn.accordion-toggle БУТИРАТ (Масляная кислота)
                    #spis_1_tx.accordion-content.default это метаболит, продукт жизнедеятельности нормальной микрофлоры кишечника. Бутират является основным источником энергии для клеток кишечника, способствует их защите и восстановлению, укрепляет кишечный барьер от проникновения токсинов и патогенных бактерий, обладает противовоспалительным действием, регулирует стул. Благодаря широкому спектру действия, бутират обеспечивает слаженную работу кишечника, улучшают процессы пищеварения и всасывания полезных веществ.


            #spis_2
                .goodsm
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 66 60', enable-background='new 0 0 66 60', xml:space='preserve')
                        defs
                            lineargradient#PSgrad_0(x1='70.711%', x2='0%', y1='70.711%', y2='0%')
                                stop(offset='0%', stop-color='rgb(49,225,128)', stop-opacity='1')
                                stop(offset='100%', stop-color='rgb(56,248,255)', stop-opacity='1')
                        path(fill-rule='evenodd', fill='url(#PSgrad_0)', d='M65.993,13.685 L44.753,41.346 L44.753,41.346 L31.159,59.050 L13.575,45.364 L13.621,45.305 L-0.001,34.628 L13.592,16.925 L27.214,27.601 L48.409,-0.001 L65.993,13.685 Z')

                #spis_2_h
                    #spis_2_h_inn.accordion-toggle Бифидобактерии
                    #spis_2_tx.accordion-content.default представители полезной микрофлоры кишечника, общее количество которых в норме составляет от 85 до 98 %. Бифидобактерии подавляют размножение болезнетворных и патогенных бактерий, укрепляют защитный барьер кишечника, регулируют перистальтику, обеспечивают местный иммунитет, улучшают процессы пищеварения и всасывания полезных веществ.

            #spis_3
                .goodsm
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 66 60', enable-background='new 0 0 66 60', xml:space='preserve')
                        defs
                            lineargradient#PSgrad_0(x1='70.711%', x2='0%', y1='70.711%', y2='0%')
                                stop(offset='0%', stop-color='rgb(49,225,128)', stop-opacity='1')
                                stop(offset='100%', stop-color='rgb(56,248,255)', stop-opacity='1')
                        path(fill-rule='evenodd', fill='url(#PSgrad_0)', d='M65.993,13.685 L44.753,41.346 L44.753,41.346 L31.159,59.050 L13.575,45.364 L13.621,45.305 L-0.001,34.628 L13.592,16.925 L27.214,27.601 L48.409,-0.001 L65.993,13.685 Z')

                #spis_3_h
                    #spis_3_h_inn.accordion-toggle ИНУЛИН
                    #spis_3_tx.accordion-content.default это пребиотик, который в неизменном виде доходит до толстого кишечника и является основной пищей для полезных бифидо- и лактобактерий. Благодаря инулину(другими словами-клетчатке), в кишечнике создаются условия для роста и жизнедеятельности нормальной и здоровой микрофлоры кишечника.



