#sec6
    #ftext_6
        h1 Когда кишечнику хорошо?
    #icons_last
        #icons_last_inn
            #icons_ls1
                #icon_ls1_txt
                    #icon_ls1_txt_inn
                        | Сбалансированное
                        br
                        | питание
                #ic_ls_1.hovtrans
                    svg#lsic_1(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 134 121', style='enable-background:new 0 0 134 121;', xml:space='preserve')
                        filter#Filter_lsall(filterunits='userSpaceOnUse', height='121px', width='134px', x='0px', y='0px')
                            feoffset(dx='0', dy='5', in='SourceAlpha')
                            fegaussianblur(result='blurOut', stddeviation='2.828')
                            feflood(flood-color='rgb(36, 33, 33)', result='floodOut')
                            fecomposite(in='floodOut', in2='blurOut', operator='atop')
                            fecomponenttransfer
                                fefunca(slope='0.2', type='linear')
                            femerge
                                femergenode
                                femergenode(in='SourceGraphic')
                        g#ls1_all
                            lineargradient#ls_grad(gradientunits='userSpaceOnUse', x1='35.7957', y1='77.5814', x2='70.6316', y2='77.5814')
                                stop(offset='0', style='stop-color:#35E791')
                                stop(offset='1', style='stop-color:#0164B8')
                            g#ls1_x5F_ov.lsic_1_st0
                                path.lsic_1_st1(d='M13.5,85.3c12.7,18.3,42.7,27.8,64.3,25.3c14.6-1.7,32.2-9.1,39.3-22.8c2.3-4.4,1.3-8.7,2.2-13.4\
                          c2.4-13.6,6.8-26.8,0.2-40c-3.8-7.6-10.4-13.4-17-18.9c-1.9-1.6-3.8-3.3-6.1-4.4c-3-1.4-6.4-1.9-9.7-2\
                          c-17.6-0.7-34.1,6.3-47.6,17.2C28,35.2,10.9,50.5,8.4,65.1c-1.2,6.6,0.8,13.5,4.5,19.2C13.1,84.6,13.3,85,13.5,85.3z')
                            g#ls1_x5F_sh
                                path.lsic_1_st2.lsic_1_inn_op(d='M35.9,63h34.7v29.1H57.5c0,0,1.4-5.2-2.6-8.8C51,79.8,45.4,79.3,40,73S35.9,63,35.9,63z')
                            g#grls1
                                path#lsic_1_inn.lsic_1_st3(d='M100.4,77.8c4.2-3.8,6.8-8.5,7.2-15.1c0.1-0.9-0.2-1.7-0.8-2.4l0,0c-0.6-0.6-1.4-1-2.3-1H33.2\
                          c-0.8,0-1.7,0.4-2.3,1c-0.6,0.6-0.9,1.5-0.8,2.4c0.8,11.5,8.1,17.2,18.8,22.3c1.2,0.6,2.2,1.5,2.8,2.7c0.6,1.1,0.5,2.6-0.2,3.8\
                          c-0.5,0.9-0.6,2.1-0.1,3.1c0.5,0.9,1.5,1.5,2.6,1.5l29.7,0c1,0,1.9-0.4,2.5-1.2c0.8-1,0.8-2.3,0.2-3.4c-0.7-1.2-0.8-2.7-0.2-3.8\
                          c0.6-1.2,1.6-2.1,2.8-2.7c2.7-1.3,5.2-2.6,7.4-4.1 M87.7,82.6')
                                path#lsic_1_inn.lsic_1_st4(d='M57.7,88.3h19.6 M78.6,88.2')
                                line#lsic_1_inn.lsic_1_st5(x1='56.6', y1='83.2', x2='62.8', y2='83.2')
                                path#lsic_1_inn.lsic_1_st6(d='M50.2,48.4c-1,0-2-0.3-2.9-0.9c-2.3-1.6-2.8-4.7-1.2-7l8.7-12.5c1.6-2.3,4.7-2.8,7-1.2c2.3,1.6,2.8,4.7,1.2,7\
                          l-8.7,12.5C53.3,47.7,51.7,48.4,50.2,48.4z')
                                path#lsic_1_inn.lsic_1_st7(d='M36.4,56l0.6,0.4c0.8,0.5,1.3,1.5,1.2,2.5h24.4c-0.1-1,0.4-1.9,1.2-2.5l0.6-0.4c1.6-1,1.6-3.4,0-4.5l-0.6-0.4\
                          c-1.1-0.7-1.5-2-1-3.2l0.2-0.6c0.7-1.8-0.7-3.7-2.6-3.6l-0.7,0c-1.1,0.1-2.2-0.6-2.6-1.6l-2.9,4.2c-1,1.4-2.5,2.1-4.1,2.1\
                          c-1,0-2-0.3-2.9-0.9c-2.3-1.6-2.8-4.7-1.2-7l0.9-1.3c-1.3-0.2-2.7,0.5-3,1.9l-0.2,0.7c-0.3,1.2-1.5,2-2.7,2l-0.7,0\
                          c-1.9-0.1-3.3,1.8-2.6,3.6l0.2,0.6c0.5,1.2,0,2.5-1,3.2l-0.6,0.4C34.8,52.6,34.8,55,36.4,56z')
                                path#lsic_1_inn.lsic_1_st8(d='M61.7,58.9H83l-0.2-0.5c-0.5-1.2,0-2.5,1-3.2l0.6-0.4c1.6-1,1.6-3.4,0-4.5L83.8,50c-1.1-0.7-1.5-2-1-3.2\
                          l0.2-0.6c0.7-1.8-0.7-3.7-2.6-3.6l-0.7,0c-1.3,0.1-2.4-0.8-2.7-2l-0.2-0.7c-0.5-1.9-2.7-2.6-4.2-1.4L72.1,39c-1,0.8-2.4,0.8-3.3,0\
                          l-0.5-0.4c-1.5-1.2-3.7-0.5-4.2,1.4l-0.2,0.7c-0.3,1.2-1.5,2-2.7,2l-0.7,0c-0.9,0-1.6,0.3-2.1,0.9')
                                path#lsic_1_inn.lsic_1_st9(d='M93.3,26.5c-5.1-5.1-13.4-5.1-18.5,0c-3.5,3.5-4.6,8.4-3.3,12.9c0.2-0.1,0.4-0.2,0.6-0.4l0.5-0.4\
                          c1.5-1.2,3.7-0.5,4.2,1.4l0.2,0.7c0.3,1.2,1.5,2,2.7,2l0.7,0c1.9-0.1,3.3,1.8,2.6,3.6l-0.2,0.6c-0.3,0.7-0.2,1.4,0.1,2\
                          c3.7,0.3,7.6-0.9,10.5-3.8C98.4,39.9,98.4,31.6,93.3,26.5z')
                                line#lsic_1_inn.lsic_1_st10(x1='81.6', y1='38.2', x2='79.2', y2='40.6')
                                line#lsic_1_inn.lsic_1_st11(x1='88.9', y1='30.9', x2='86.4', y2='33.4')
                                line#lsic_1_inn.lsic_1_st12(x1='86.5', y1='38.2', x2='88.9', y2='40.6')
                                line#lsic_1_inn.lsic_1_st13(x1='79.2', y1='30.9', x2='81.7', y2='33.4')
                                path#lsic_1_inn.lsic_1_st14(d='M84.4,54.8l-0.6,0.4c-1.1,0.7-1.5,2-1,3.2l0.2,0.5h19.2c1.6-2.2,2.6-4.9,2.6-7.8c0-5.4-3.3-10.1-8-12.1\
                          c-0.6,2.2-1.7,4.3-3.4,6.1c-2.9,2.9-6.7,4.1-10.5,3.8c0.2,0.5,0.5,0.9,1,1.2l0.6,0.4C86,51.4,86,53.7,84.4,54.8z')
                                line#lsic_1_inn.lsic_1_st15(x1='98.5', y1='51.1', x2='95', y2='51.1')
                                line#lsic_1_inn.lsic_1_st16(x1='91.7', y1='54.5', x2='91.7', y2='57.9')
                                line#lsic_1_inn.lsic_1_st17(x1='75.7', y1='48.6', x2='77.2', y2='50.1')
                                line#lsic_1_inn.lsic_1_st18(x1='74.2', y1='52.6', x2='72.6', y2='54.1')
                                line#lsic_1_inn.lsic_1_st19(x1='73.1', y1='44.5', x2='69.1', y2='48.1')
            #icons_ls2
                #icon_ls2_txt
                    #icon_ls2_txt_inn
                        | Полноценный
                        br
                        | отдых
                #ic_ls_2.hovtrans
                    svg#lsic_2(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 134 121', style='enable-background:new 0 0 134 121;', xml:space='preserve')
                        filter#Filter_lsall(filterunits='userSpaceOnUse', height='121px', width='134px', x='0px', y='0px')
                            feoffset(dx='0', dy='5', in='SourceAlpha')
                            fegaussianblur(result='blurOut', stddeviation='2.828')
                            feflood(flood-color='rgb(36, 33, 33)', result='floodOut')
                            fecomposite(in='floodOut', in2='blurOut', operator='atop')
                            fecomponenttransfer
                                fefunca(slope='0.2', type='linear')
                            femerge
                                femergenode
                                femergenode(in='SourceGraphic')
                        g#ls2_all
                            lineargradient#ls_grad(gradientunits='userSpaceOnUse', x1='35.7957', y1='77.5814', x2='70.6316', y2='77.5814')
                                stop(offset='0', style='stop-color:#35E791')
                                stop(offset='1', style='stop-color:#0164B8')
                            g#ls12_x5F_ov.lsic_2_st0
                                path.lsic_2_st1(d='M127.1,79.4c0.1-0.3,0.2-0.6,0.2-0.9c2.2-9.1,0.1-18.9-4.1-27.4c-6.1-12.4-15.7-24.8-27.7-31.9\
                          c-13.1-7.8-32.2-12.8-46.8-5.8c-4.7,2.2-6.6,6.4-10.3,9.8C27.8,33.1,16,41.4,13,56.6C10.6,69.1,13.2,86,23.6,94.2\
                          c7.2,5.7,16.7,7.9,24.9,10.5c1.4,0.4,2.8,0.8,4.2,1c16.5,2.7,36.4,4.7,52.8-2.8C115.6,98.3,124.1,89.9,127.1,79.4z')
                            g#ls2_x5F_sh
                                path.lsic_2_st2.lsic_2_inn_op(d='M77.9,35.3l-5.4,16.5c0,0,6.3,1.7,8.1,4.6c0,0,11.6-2.4,16.4,5C95.7,49.5,91.7,42.3,77.9,35.3z')
                            g#grls2
                                line#lsic_2_inn.lsic_2_st3(x1='62.6', y1='82.3', x2='59.9', y2='90.3')
                                line#lsic_2_inn.lsic_2_st4(x1='71.7', y1='54.7', x2='64.8', y2='75.5')
                                line#lsic_2_inn.lsic_2_st5(x1='79.7', y1='30.7', x2='78.9', y2='32.9')
                                path#lsic_2_inn.lsic_2_st6(d='M87.5,82.3H43.8c-1.1,0-2.1-0.5-2.7-1.4L28.6,63.3c-1.1-1.5-0.7-3.6,0.8-4.7c1.5-1.1,3.6-0.7,4.7,0.8\
                          l11.5,16.1h41.9c1.9,0,3.4,1.5,3.4,3.4S89.4,82.3,87.5,82.3z')
                                line#lsic_2_inn.lsic_2_st7(x1='42.6', y1='82', x2='41.4', y2='88.9')
                                line#lsic_2_inn.lsic_2_st8(x1='86', y1='82.7', x2='87.6', y2='88.9')
                                line#lsic_2_inn.lsic_2_st9(x1='41.2', y1='69.5', x2='57.5', y2='69.5')
                                line#lsic_2_inn.lsic_2_st10(x1='52.2', y1='69.5', x2='56.4', y2='75.5')
                                path#lsic_2_inn.lsic_2_st11(d='M71.7,54.7c3.2,1.1,6.4,3.3,7.4,5.1c0.3,0.5,0.9,0.7,1.4,0.5c2.2-1,5.6-0.9,9,0.3c3.4,1.1,6.2,3.1,7.4,5.2\
                          c0.2,0.4,0.6,0.6,1.1,0.6c0.4,0,0.8-0.3,0.9-0.8c2.1-6.3,1.1-13.2-2.7-19.3c-3.6-5.8-9.3-10.4-16.2-12.9l-2.1-0.7\
                          c-7.1-2.1-14.4-1.9-20.7,0.7c-6.7,2.7-11.6,7.6-13.7,13.9c-0.1,0.4,0,0.9,0.3,1.2c0.1,0.1,0.3,0.2,0.4,0.2c0.3,0.1,0.5,0.1,0.8,0\
                          c2.1-1,5.6-0.9,9,0.3c3.4,1.1,6.2,3.1,7.4,5.2c0.3,0.5,0.9,0.7,1.4,0.4C64.7,53.5,68.5,53.6,71.7,54.7z M61.9,54.4\
                          c3.7-8.7,6.4-12.2,9.1-15.3c2.7-3.2,6-6.8,7.9-6.2 M78.9,32.9c1.9,0.6,2.4,5.5,2.7,9.7c0.3,4.1,0.2,11.4-1.9,17.7')
            #icons_ls3
                #icon_ls3_txt
                    #icon_ls3_txt_inn
                        | Здоровый
                        br
                        | сон
                #ic_ls_3.hovtrans
                    svg#lsic_3(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 134 121', style='enable-background:new 0 0 134 121;', xml:space='preserve')
                        filter#Filter_lsall(filterunits='userSpaceOnUse', height='121px', width='134px', x='0px', y='0px')
                            feoffset(dx='0', dy='5', in='SourceAlpha')
                            fegaussianblur(result='blurOut', stddeviation='2.828')
                            feflood(flood-color='rgb(36, 33, 33)', result='floodOut')
                            fecomposite(in='floodOut', in2='blurOut', operator='atop')
                            fecomponenttransfer
                                fefunca(slope='0.2', type='linear')
                            femerge
                                femergenode
                                femergenode(in='SourceGraphic')
                        g#ls3_all
                            lineargradient#ls_grad(gradientunits='userSpaceOnUse', x1='35.7957', y1='77.5814', x2='70.6316', y2='77.5814')
                                stop(offset='0', style='stop-color:#35E791')
                                stop(offset='1', style='stop-color:#0164B8')
                            g#ls13_x5F_ov.lsic_3_st0
                                path.lsic_3_st1(d='M128,77.5c0.1-0.3,0.2-0.6,0.2-0.9c2.2-9.1,0.1-18.9-4.1-27.4c-6.1-12.4-15.7-24.8-27.7-31.9\
                          C83.4,9.5,64.3,4.5,49.7,11.5c-4.7,2.2-6.6,6.4-10.3,9.8C28.8,31.2,17,39.4,14,54.7C11.6,67.1,14.2,84,24.6,92.3\
                          c7.2,5.7,16.7,7.9,24.9,10.5c1.4,0.4,2.8,0.8,4.2,1c16.5,2.7,36.4,4.7,52.8-2.8C116.6,96.4,125.1,88,128,77.5z')
                            g#ls3_x5F_sh
                                path.lsic_3_st2.lsic_3_inn_op(d='M46.9,41.2c-1.9,2.1-2.7,5.7-2.2,9.2c0.1,0.7,0.3,1.5,0.5,2.3c0.2,0.7,0.3,1.4,0.4,2.1L47.4,65L49.6,78\
                          l0.1,0.7c0.5,2.8,0.8,5.1,3.3,6.2c0.3,0.1,0.7,0.3,1.1,0.3c1,0.2,2.1,0.3,2.9,0.3l0.1,0c4.7,0,9.4-0.9,14.1-1.7\
                          c0.8-0.1,1.6-0.3,2.4-0.4l-8-46.7c-2.9,0.5-5.8,1-8.7,1.5l-1.6,0.3c-0.5,0.1-1,0.2-1.5,0.2C51.1,39,48.6,39.4,46.9,41.2z')
                            g#grsl3
                                path#lsic_3_inn.lsic_3_st3(d='M82.9,85.8c6-1.6,10.5-6.4,13.9-11.5')
                                path#lsic_3_inn.lsic_3_st4(d='M76.1,30.4l-32.3,5.6c-0.8,0.1-1.6,0-2.3-0.4l-3.2-1.7c-1.6-0.8-3.6-0.2-4.4,1.4l-0.3,0.6\
                          c-0.8,1.6-0.2,3.6,1.4,4.4l2.8,1.4c1.3,0.7,2.2,1.9,2.4,3.3l6.7,39c0.2,1.1-0.1,2.2-0.7,3.1l-2.1,3c-1,1.5-0.7,3.5,0.8,4.5l0.6,0.4\
                          c1.5,1,3.5,0.7,4.5-0.8l0.9-1.2c0.7-1,1.8-1.7,3-1.9c0.5-0.1,0.9-0.2,1-0.2l49-8.4l0,0c1.2-0.2,2.5,0,3.6,0.6l1,0.5\
                          c1.6,0.8,3.6,0.2,4.4-1.4l0.3-0.6c0.8-1.6,0.2-3.6-1.4-4.4l-3.5-1.8c-1.2-0.6-2-1.7-2.2-3l-6.5-37.5c-0.3-1.5,0.1-3.1,1-4.3\
                          l2.2-3.1c1-1.5,0.7-3.5-0.8-4.5l-0.6-0.4c-1.5-1-3.5-0.7-4.5,0.8l-1.5,2.1c-0.9,1.3-2.3,2.1-3.8,2.4l-10.2,1.8')
                                polyline#lsic_3_inn.lsic_3_st5(points='53.4,57.9 62.2,56.4 55.4,69 65.1,67.3 	')
                                polyline#lsic_3_inn.lsic_3_st6(points='85.5,56.5 92.7,55.2 87,65.5 95,64.1 	')
                                polyline#lsic_3_inn.lsic_3_st7(points='67.2,47.3 79,45.1 69.8,62.1 82.9,59.8 	')
            #icons_ls4
                #icon_ls4_txt
                    #icon_ls4_txt_inn
                        | Активный образ
                        br
                        | жизни
                #ic_ls_4.hovtrans
                    svg#lsic_4(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 134 121', style='enable-background:new 0 0 134 121;', xml:space='preserve')
                        filter#Filter_lsall(filterunits='userSpaceOnUse', height='121px', width='134px', x='0px', y='0px')
                            feoffset(dx='0', dy='5', in='SourceAlpha')
                            fegaussianblur(result='blurOut', stddeviation='2.828')
                            feflood(flood-color='rgb(36, 33, 33)', result='floodOut')
                            fecomposite(in='floodOut', in2='blurOut', operator='atop')
                            fecomponenttransfer
                                fefunca(slope='0.2', type='linear')
                            femerge
                                femergenode
                                femergenode(in='SourceGraphic')
                        g#ls4_all
                            lineargradient#ls_grad(gradientunits='userSpaceOnUse', x1='35.7957', y1='77.5814', x2='70.6316', y2='77.5814')
                                stop(offset='0', style='stop-color:#35E791')
                                stop(offset='1', style='stop-color:#0164B8')
                            g#ls14_x5F_ov.lsic_4_st0
                                path.lsic_4_st1(d='M128,78.5c0.1-0.3,0.2-0.6,0.2-0.9c2.2-9.1,0.1-18.9-4.1-27.4c-6.1-12.4-15.7-24.8-27.7-31.9\
                          c-13.1-7.8-32.2-12.8-46.8-5.8c-4.7,2.2-6.6,6.4-10.3,9.8C28.8,32.2,17,40.4,14,55.7C11.6,68.1,14.2,85,24.6,93.3\
                          c7.2,5.7,16.7,7.9,24.9,10.5c1.4,0.4,2.8,0.8,4.2,1c16.5,2.7,36.4,4.7,52.8-2.8C116.6,97.4,125.1,89,128,78.5z')
                            g#ls4_x5F_sh.lsic_4_inn_op
                                path.lsic_4_st2(d='M47.9,47c0,1,0.5,2,1.2,2.7l9.5,9.2c1.8-1.9,2.7-4,2.7-6.2c0-5.3-4.8-10.5-7-12.6l-4.7,3.6\
                          C48.5,44.5,47.8,45.8,47.9,47z')
                                path.lsic_4_st3(d='M108.3,71.1l-2.1,1c-0.5,0.2-0.7,0.7-0.7,1.2c0.1,1.4-0.4,2.8-1.4,3.8c-1,1-2.3,1.6-3.7,1.6l-3.2,0\
                          c-0.5,0-1,0.1-1.5,0.2h10.6c2.4,0,4.4-1.8,4.4-4.1C110.5,73.2,109.7,72,108.3,71.1z')
                            g#grls4
                                line#lsic_4_inn.lsic_4_st4(x1='36.1', y1='51.4', x2='19.5', y2='51.4')
                                line#lsic_4_inn.lsic_4_st5(x1='73.7', y1='85.8', x2='40.8', y2='85.8')
                                line#lsic_4_inn.lsic_4_st6(x1='40.8', y1='58.7', x2='29.1', y2='58.7')
                                line#lsic_4_inn.lsic_4_st7(x1='64.9', y1='81.8', x2='53.2', y2='81.8')
                                line#lsic_4_inn.lsic_4_st8(x1='48.7', y1='75.3', x2='39.2', y2='75.3')
                                path#lsic_4_inn.lsic_4_st9(d='M61.6,30.4l-17,14c0,0-4,4-1,9c2.3,3.8,6,7,6,7s3-1,5,1s1,5,2,7s18,14,18,14s4,3,16,3c15,0,14,0,14,0s8-1,8-7\
                          c1-6-2-9-5-10s-12-2-12-2l-6-15c0,0-12-1-18-5s-6-13.6-6-15C65.6,29.4,63.6,28.4,61.6,30.4z')
                                path#lsic_4_inn.lsic_4_st10(d='M46.3,43c-0.6,1.4-1.9,5.2,1.3,8.4c4,4,27,25,27,25s6,5,14,5s18,0,18,0s6.2-1.7,6.2-4.9')
                                path#lsic_4_inn.lsic_4_st11(d='M53.9,36.7c0,0,6.7,6.7,8.7,11.7s-1,11-4,13')
                                path#lsic_4_inn.lsic_4_st12(d='M77.6,52.8c0,0,4,7.6,3,14.6c-1.1,8-3.4,10.8-3.4,10.8')
                                line#lsic_4_inn.lsic_4_st13(x1='91.6', y1='58.4', x2='88.6', y2='58.4')
                                line#lsic_4_inn.lsic_4_st14(x1='93.6', y1='61.4', x2='89.6', y2='61.4')
                                line#lsic_4_inn.lsic_4_st15(x1='94.6', y1='64.4', x2='90.6', y2='64.4')
                                path#lsic_4_inn.lsic_4_st16(d='M95.5,66.1c0,0-1.9,1.3-0.9,3.3s5.5,1.7,9.8-1.7')
                                path#lsic_4_inn.lsic_4_st17(d='M108.2,68.6c0,0-3.6,0.8-4.6,3.8s-1,5-5,5s-8,1-8,4')
                                path#lsic_4_inn.lsic_4_st18(d='M79.9,49.8l3.7-5.4c0,0,3-5,8-3s5,2,5,2l-6.4,9.5c0,0-14.6,2.5-22.6-4.5s-7-17.2-7-17.2')
    #icon_plus
        svg#ls_plus(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 218.3 200.9', enable-background='new 0 0 218.3 200.9', xml:space='preserve')
            g#ls_plus_all
                filter#Filter_lsallplus(filterunits='userSpaceOnUse', height='220px', width='220px', x='0px', y='0px')
                    feoffset(dx='0', dy='5', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='2.828')
                    feflood(flood-color='rgb(36, 33, 33)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='atop')
                    fecomponenttransfer
                        fefunca(slope='0.2', type='linear')
                    femerge
                        femergenode
                        femergenode(in='SourceGraphic')
                lineargradient#gr_plusin(gradientunits='userSpaceOnUse', x1='92.3883', y1='83.6407', x2='164.7554', y2='129.581')
                    stop(offset='0', style='stop-color:#31E180')
                    stop(offset='1', style='stop-color:#38F8FF')
                path#pluskont(fill='#136577', d='M185.3,79c-0.5,3.2-2.1,6.2-3.4,9.2c-4.2,9.3-6.1,19.6-5.7,29.8c0.2,5.2,1,10.6-0.6,15.5\
            c-1.3,3.9-3.9,7.1-6.6,10.2c-12.4,14.4-27.6,28.9-46.6,29.8c-19.9,1-37.2-13.2-56.7-17.2c-6.5-1.3-13.4-1.6-19.2-4.7\
            c-5.3-2.8-9.1-7.7-12.7-12.4c-7.6-10.1-15.1-20.6-18.9-32.6s-3.7-25.9,3.2-36.5c7-10.8,19.6-16.5,29.7-24.6\
            C58.2,36.7,68.4,22.7,82.1,19c14.9-4,38.2-0.9,52.7,3.3c22,6.4,40.5,23.6,48.6,45C184.8,70.8,186,74.9,185.3,79z')
                g#ls_plus_in
                    path#plusin(fill='url(#gr_plusin)', d='M137.1,78.9c-2.1-1.9-5-1.7-7.6-1.5c-0.8,0.1-9.7,0.5-9.7,0.7c0.1-2.2,0.3-4.4,0.3-6.6\
                c0.1-2.3,1.1-10.8-1.6-11.3c-4.9-1-9.8-1.4-14.8-1.4c-3.6,0-9.3-0.6-11.3,3.2c-2.2,4.2-1.2,9.3-1.1,13.8c0,1.2,0,2.4,0,3.6\
                c-4.8,0.1-9.5-0.2-14.3,0.6c-0.4,0.1-0.8,0.1-1.1,0.3c-0.5,0.3-0.6,0.9-0.7,1.4c-1.3,6.7-2.6,13.5-1.9,20.4\
                c0.1,0.9,0.2,1.7,0.5,2.6c1.7,5.2,7.5,5.1,12,4.8c1.7-0.1,3.5-0.3,5.2-0.5c-0.1,0-0.4,10.8-0.3,12c0.2,1.1,0.7,2.2,1.6,2.9\
                c0.9,0.7,2.1,0.8,3.2,0.9c4.5,0.5,9-0.5,13.5-0.5c2.3-0.1,4.8,0.2,7.1-0.1c0.6-0.1,1.3-0.3,1.7-0.8c0.3-0.3,0.4-0.8,0.5-1.2\
                c0.5-2.6,0.2-5.1,0.3-7.7c0.1-2.6,0.2-5.1,0.2-7.7c0.7-0.1,1.4-0.1,2.1-0.1c2.7-0.2,5.4-0.4,8.1-0.6c2.1-0.2,5.3,0.5,7.4-0.9\
                c0.9-0.6,1.7-1.9,2.2-3.3c0.3-1,0.4-2,0.4-3c0.2-2.9,0.5-5.8,0.7-8.7c0.2-2.4,0.8-4.5,0-6.9c-0.5-1.5-1.2-3-2.3-4.1\
                C137.3,79.1,137.2,79,137.1,78.9z')
    #dirapack2
        #dirapack2_ov
            svg(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 501 451', style='enable-background:new 0 0 501 451;', xml:space='preserve')
                style(type='text/css').
                    .ov2sst0 {
                        filter: url(#Filter_ov2s02);
                    }

                    .ov2sst1 {
                        fill: #1197B0;
                    }

                    .ov2sst2 {
                        filter: url(#Filter_ov2s01);
                    }

                    .ov2sst3 {
                        fill: #117D8F;
                    }

                    .ov2sst4 {
                        filter: url(#Filter_ov2s0);
                    }

                    .ov2sst5 {
                        fill: #116A78;
                    }
                filter#Filter_ov2s02
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                filter#Filter_ov2s01
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                filter#Filter_ov2s0
                    feoffset(dx='-1.204', dy='1.597', in='SourceAlpha')
                    fegaussianblur(result='blurOut', stddeviation='3.162')
                    feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
                    fecomposite(in='floodOut', in2='blurOut', operator='out', result='compOut')
                    fecomposite(in='compOut', in2='SourceAlpha', operator='in')
                    fecomponenttransfer
                        fefunca(slope='0.63', type='linear')
                    feblend(in2='SourceGraphic', mode='multiply')
                g.ov2sst0
                    path.ov2sst1(d='M27.4,161.3C97.2,19.4,273.7-11,415.8,16.4c16.5,3.2,33.3,7.4,46.7,17.5c18.7,14,28.2,37.7,30.3,60.9\
                c2.2,24.2,1.1,49.5-2.4,75.2c-8.9,65.1-33,132.1-56.5,187.8c-44.4,105.2-195.9,87.7-285.2,58C45.3,381.4-24,265.8,27.4,161.3z')
                g.ov2sst2
                    path.ov2sst3(d='M403.7,319.1c-8.9,10.1-18.1,20-27.8,29.4c-9.8,9.6-20.3,18.7-32.4,25.3c-25,13.5-62.6,22.2-90.8,24.9\
                c-15.3,1.5-30.7,0.3-46-1.1c-17.7-1.5-35.3-3.2-53-4.9c-32.9-3.3-62.7-10.1-81.8-39.2c-13.5-20.6-21.7-44.9-24.8-69.3\
                c-2.6-20.5-5.1-44.6-1.7-64.9c8.3-49.3,31.8-98.8,73.5-129c21.4-15.5,46.3-25.7,71.7-33c11.6-3.3,23.5-6.1,35.6-5.5\
                c9.3,0.5,18.3,3,27.5,4c17.2,1.9,34.5-1.4,51.8-0.7c55,2.1,109,28.3,139,74.9c22.5,35,29.5,81.3,12.1,119.1\
                c-7.8,16.9-19.9,31.5-32,45.7C417.7,303,410.7,311.1,403.7,319.1z')
                g.ov2sst4
                    path.ov2sst5(d='M365.3,301.2c-11.4,13.8-23.7,26.9-37.1,37.3c-17.5,13.5-41.1,19.4-62.7,22c-11.1,1.3-20.2-0.4-31-1\
                c-11.3-0.6-22.4,3.9-33.6,4.3c-15.3,0.5-29.9-6.2-42.7-14.5c-17.1-11-32.2-24.8-47.2-38.5c-6.3-5.8-12.8-11.7-17.2-19\
                c-6.5-10.7-8.3-23.7-8.6-36.3c-0.5-25,3.6-55.4,18.2-76.1c13.4-18.8,23-41.9,41.9-56.4c21-16.1,48.2-21,74.2-25.4\
                c25.8-4.4,52.5,1.5,77.3-6.1c23.5-7.2,48.8-5.5,70,7.8c21.7,13.5,29.7,33.1,37.3,56.1c7.5,22.6,15.5,44.5,9.9,69\
                c-3.3,14.3-11.5,27-20.1,38.9C385.1,275.6,375.6,288.7,365.3,301.2z')



        #pi2lul
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
                style(type='text/css').
                    .st2pil0 {
                        fill: url(#SVGID_pi2l1_);
                    }

                    .st2pil1 {
                        fill: url(#SVGID_pi2l2_);
                    }
                g
                    g
                        g
                            lineargradient#SVGID_pi2l1_(gradientunits='userSpaceOnUse', x1='1150.5193', y1='1613.9653', x2='1171.1101', y2='1629.3999', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.st2pil0(d='M21.9,11.9L9,18.6l0.3,0.7l0,0l3,5.8c1.7,3.4,5.8,5,9.3,3.6c4-1.7,5.6-6.3,3.7-10.1l-2.2-4.1l0,0L21.9,11.9z\
                    ')
                            lineargradient#SVGID_pi2l2_(gradientunits='userSpaceOnUse', x1='1150.8881', y1='1606.2332', x2='1171.4983', y2='1621.6824', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.st2pil1(d='M21.6,11.4l-3.4-6.7c-1.8-3.6-6.2-4.9-9.8-3.1l0,0c-3.6,1.9-4.9,6.2-3.1,9.8L8.7,18L21.6,11.4z')
        #pi2lul2
            svg(version='1.0', id='pi2lul2_in', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
                style(type='text/css').
                    .st2pil0 {
                        fill: url(#SVGID_pi2l1_);
                    }

                    .st2pil1 {
                        fill: url(#SVGID_pi2l2_);
                    }
                g
                    g
                        g
                            lineargradient#SVGID_pi2l1_(gradientunits='userSpaceOnUse', x1='1150.5193', y1='1613.9653', x2='1171.1101', y2='1629.3999', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.st2pil0(d='M21.9,11.9L9,18.6l0.3,0.7l0,0l3,5.8c1.7,3.4,5.8,5,9.3,3.6c4-1.7,5.6-6.3,3.7-10.1l-2.2-4.1l0,0L21.9,11.9z\
                    ')
                            lineargradient#SVGID_pi2l2_(gradientunits='userSpaceOnUse', x1='1150.8881', y1='1606.2332', x2='1171.4983', y2='1621.6824', gradienttransform='matrix(1.2962 -0.6652 0.6621 1.2962 -2559.7273 -1309.4734)')
                                stop(offset='0', style='stop-color:#31A9B3')
                                stop(offset='2.012612e-02', style='stop-color:#3BB3C3')
                                stop(offset='6.053937e-02', style='stop-color:#4AC4DC')
                                stop(offset='0.1026', style='stop-color:#55D0EE')
                                stop(offset='0.1469', style='stop-color:#5CD8F9')
                                stop(offset='0.1973', style='stop-color:#5EDAFC')
                                stop(offset='0.7568', style='stop-color:#31D790')
                                stop(offset='1', style='stop-color:#30B7DB')
                            path.st2pil1(d='M21.6,11.4l-3.4-6.7c-1.8-3.6-6.2-4.9-9.8-3.1l0,0c-3.6,1.9-4.9,6.2-3.1,9.8L8.7,18L21.6,11.4z')
        #good2ic
            svg(version='1.0', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 62 52.3', style='enable-background:new 0 0 62 52.3;', xml:space='preserve')
                style(type='text/css').
                    .good20 {
                        fill: url(#SVGIDgood2_1_);
                    }
                g
                    g
                        lineargradient#SVGIDgood2_1_(gradientunits='userSpaceOnUse', x1='-338.7705', y1='-1544.3264', x2='-306.8888', y2='-1544.3264', gradienttransform='matrix(1.3969 -9.469970e-02 -9.459668e-02 -1.3966 336.9444 -2162.0388)')
                            stop(offset='0', style='stop-color:#31A9B3')
                            stop(offset='0.1482', style='stop-color:#31B7A8')
                            stop(offset='0.4095', style='stop-color:#31C99B')
                            stop(offset='0.6859', style='stop-color:#31D493')
                            stop(offset='1', style='stop-color:#31D790')
                        path.good20(d='M9.9,28.3c1.2-1.2,2.3-2.5,3.4-3.8c0.9-1,1.8-1.8,2.7-2.8c0,0,0,0,0.1,0c0.4-0.1,0.9,0.4,1.3,0.6\
                  c0.3,0.2,0.6,0.4,0.9,0.6c0.9,0.5,1.7,1.1,2.6,1.6c1.2,0.7,2.3,1.4,3.5,2.2c0.5,0.3,1.1,0.6,1.6,1c0.4,0.3,0.8,0.4,1.3,0.6\
                  c0,0,0,0,0.1,0c0,0,0,0,0.1-0.1c0.9-1.1,1.9-2.3,2.8-3.4c1.3-1.7,2.7-3.3,4-5c1.8-2.3,3.7-4.6,5.6-6.9c1.5-1.8,2.7-4.3,4.7-5.5\
                  c2.2-1.3,7.1,3.2,8.9,4.6c0.1,0.1,0.3,0.2,0.3,0.4c0,0.1-0.1,0.3-0.2,0.4c-1.9,2.8-24.9,30.1-24.9,30.1c-0.5-0.4-1.1-0.8-1.6-1.3\
                  c-1.3-1-2.6-2.1-4-3.1c-1.7-1.3-3.3-2.6-5-3.9c-1.5-1.2-3.1-2.4-4.6-3.6c-1-0.8-2-1.5-3-2.3C10.2,28.6,10,28.5,9.9,28.3z')
        #pack2pill
            #pack2pill_in
                img(class="osnova2" src='/assets/img/PillsPack.png')
                img(class="back_osnova2" src='/assets/img/PillsPack_slice.png')
