#section3{
position: relative;
  clear: both;
  float: left;
}
/* block 3 */
#ftext_3{opacity: 1;    margin-top: 24%;
  position: absolute;
  left: 37%;}

#ftext_3.dbl{
  margin-top: 210%;
}
#diraman2{    right: 10%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 48%;-moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";}
#dira2{width:150px;height:150px;position:absolute;}
#man2{width:150px;height:150px;position:absolute;top:17px;left:20px;}

#ftext_3 h1{text-transform: uppercase;
  background: -webkit-linear-gradient(left, #e43e43, #fb8d3a 33.3%, #ffffff 66.6%, #ffffff);
  background-size: 300% 100%;
  background-position: left 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 2.5s ease;
  transition: background 2.5s ease;
 position: absolute;
  display: block;
  color: #fff;}

/* icon 4_1 */

#icons_21{    width: 100px;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 6%;}
#icon_21_txt{
  @include fontsmall();
  color: #0b5a6d;
  position: absolute;
  width: 100%;
  top: 110%;
  left: -10%;
  text-align: right;
}
#icons_21 svg{
  overflow: visible;
}
#icon_21_txt_inn{opacity: 1;}
.icon_4_1_st_0{fill:#FFFFFF;}
.icon_4_1_st1{opacity:0.3;fill:url(#SVGID_10_);}
.icon_4_1_st2{opacity:0.3;fill:url(#SVGID_10_);}

.icon_4_1_st3{fill:none;stroke:url(#SVGID_10_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_1_st4{fill:none;stroke:url(#SVGID_10_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


#triang_41{
  position: absolute;
  position: absolute;
  left: 86px;
  top: 5px;
  opacity: 1;
  transform: rotate(-20deg);}
#triang_41 .tri{position: absolute;
  left: 7%;
  top: -40%;
  transform: rotate(85deg);}
#triang_41 .triline img{    width: 170px;
  clip-path: inset(0px 80px 0px 0px);}
.ic_4_1_inn_op{opacity:0.3;}



/* icon 4_1 end */
/* icon 4_2 */
#icons_22{       width: 100px;
  height: 100px;
  position: absolute;
  top: 28%;
  left: 70%;}
#icon_22_txt{
  @include fontsmall();
  color: #0b5a6d;
  position: absolute;
  width: 100%;
  top: 85%;
  left: 10%;
  text-align: left;
}
#icon_22_txt_inn{opacity: 1;}

.icon_4_2_st1{fill:#FFFFFF;}
.icon_4_2_st5{opacity:0.3;fill:url(#SVGID_11_);}
.icon_4_2_st2, .icon_4_2_st3, .icon_4_2_st4{fill:none;stroke:url(#SVGID_11_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


#triang_42{
  position: absolute;
  right: 39%;
  top: 60%;
 opacity: 1;    transform: rotate(105deg);}
#triang_42 .tri{position: absolute;
  left: 59px;
  top: -9px;}
#triang_42 .triline img{    width: 170px;
  clip-path: inset(8px 50px 0px 0px);}

.ic_4_2_inn_op{opacity:0.3;}

/* icon 4_2 end */

/* icon 4_3 */
#icons_23{    width: 100px;
  height: 100px;
  position: absolute;
  top: 88%;
  right: 10%;}

#icon_23_txt{
  @include fontsmall();
  color: #0b5a6d;
  position: absolute;
  width: 100%;
  top: 108%;
  right: -15%;
}
#icon_23_txt_inn{opacity: 1;}

.icon_4_3_st0{}
.icon_4_3_st1{fill:#FFFFFF;}
.icon_4_3_st2{fill:none;stroke:url(#SVGID_12_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_3_st3, .icon_4_3_st4, .icon_4_3_st5, .icon_4_3_st6, .icon_4_3_st7{fill:none;stroke:url(#SVGID_12_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_3_st8, .icon_4_3_st9{opacity:0.3;fill:url(#SVGID_12_);}

#triang_43{
  position: absolute;
  right: -12%;
  bottom: -69%;
  opacity: 1;}
#triang_43 .tri{position: absolute;
  left: -75px;
  top: -68px;}
#triang_43 .triline img{    width: 170px;
  clip-path: inset(0px 80px 0px 0px);}

.ic_4_3_inn_op{opacity:0.3;}



/* icon 4_3  end*/
/* icon 4_4  */
#icons_24{    width: 100px;
  height: 100px;
  position: absolute;
  top: 74%;
  left: 4%;}

#icon_24_txt{
  @include fontsmall();
  color: #0b5a6d;
  position: absolute;
  width: 100%;
  top: 94%;
  right: -15%;
}
#icon_24_txt_inn{opacity: 1;}
.icon_4_4_st0{fill:#ffffff;}
.icon_4_4_st2{opacity:0.3;fill:url(#SVGID_13_);}
.st1{fill:none;stroke:url(#SVGID_13_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_4_st3, .icon_4_4_st4{fill:none;stroke:url(#SVGID_13_);stroke-width:1.9019;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#triang_44{
  position: absolute;
  right: -80%;
  top: -5px;
  opacity: 1;
  transform: rotate(92deg);
}
#triang_44 .tri{position: absolute;    transform: rotate(45deg);
  left: 0px;
  top: -68px;}
#triang_44 .triline{}
#triang_44 .triline img{    width: 170px;
  clip-path: inset(10px 0px 68px 0px);
  transform: rotate(233deg);}

.ic_4_4_inn_op{opacity:0.3;}


/* icon 4_4  end*/
/* icon 4_5  */
#icons_25{    width: 100px;
  height: 100px;
  position: absolute;
  top: 38%;
  right: 66%;
;}

#icon_25_txt{
  @include fontsmall();
  color: #0b5a6d;
  position: absolute;
  width: 100%;
  top: 106%;
  right: -15%;
}
#icon_25_txt_inn{opacity: 1;}
.icon_4_5_st0{opacity:0.3;fill:url(#SVGID_14_);}
.icon_4_5_st2{fill:#FFFFFF;}
.icon_4_5_st3{fill:none;stroke:url(#SVGID_14_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_5_st4{fill:none;stroke:url(#SVGID_14_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_5_st5{fill:#FFFFFF;}

#triang_45{
  position: absolute;
  left: 7px;
  top: 81%;
  opacity: 1;
  transform: rotate(-138deg);}
#triang_45 .tri{position: absolute;
  transform: rotate(45deg);
  left: 33px;
  top: 64px;
}
#triang_45 .triline img {
  width: 170px;
  clip-path: inset(0px 80px 0px 0px);
  transform: rotate(-180deg);
}


.ic_4_5_inn_op{opacity:0.3;}

#ic_41_5 svg{overflow: visible;}
/* icon 4_5  end*/


/* block 3 end */
