#section5{
  position: relative;
  clear: both;
  float: left;
  background-image: url(/assets/img/sec5.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #659cca;
  padding-bottom: 60px;
}
#dirapack{
  width: 85%;
  left: 5%;
  margin: 20% auto 0 auto;
  display: inline-block;
  position: relative;

}
#dirapack_ov{
  width: 100%;
  height: 100%;

  z-index: 10;

}
.ovsst0, .ovsst2, .ovsst4{
  transform-origin: center;

}
#ftext_5{opacity: 1;}
#pilul{
  position: absolute;
  z-index: 10;
  width: 15%;
  left: 0%;
  top: 6%;
}
#pilul2{
  position: absolute;
  z-index: 10;
  width: 15%;
  right: 0%;
  bottom: 5%;
}
#pilul2_in{
  transform: rotate(90deg);
}
#goodic{
  position: absolute;
  width: 50%;
  right: 3%;
  z-index: 10;
  top: -10%;

}
#sec5_txt{

  width: 85%;
margin: 0 auto;

}
#ftext_5 h1{text-transform: uppercase;    color: #3eddd6;
}
#sec5_txt #ftext_op{color: #ffffff;opacity: 1;}
#sec5_txt #ftext_op p{
  @include fontsmall();
}
#button5{       position: relative;
  width: 230px;
  height: 65px;
  margin: 15% auto 0 auto;
  border-radius: 35px;
  overflow: hidden;
  cursor: pointer;
  outline: none;}
#button5 #btn_text{
  color: #ffffff;left: 58%;}
#button5 #fbutt_cont{width: 230px;}
#button5:hover #btn_contur {
  bottom: 0%;
}

#button5:hover #btn_text p span {
  color: #3c8e5b;
}

#button5:hover #btn_str_svg {
  stroke: #3c8e5b;
}
#sec5_half{
position: relative;
}
#packpill{
  width: 303px;
  height: 232px;
  position: absolute;
  left: -3%;
  top: 3%;
  z-index: 10;
  transform-origin: center;
  transform: scale(0.6);
}
#packpill_in{
  width: 303px;
  height: 232px;
  position: relative;
  transform: rotateZ(-8deg);
  transition: all 0.7s ease-in;
}
.osnova{    position: absolute;    width: 100%;
  height: auto;
  z-index: 10;}
.back_osnova{
  position: absolute;
  z-index: 9;height: 100%;width: auto;
  right: 0;
}

#sec5_half_inn{
  width: 85%;
  margin: 0 auto;
}
#dirapack.dbl {    margin: 20% auto 0 auto;}
#dirapack.dbl #packpill_in{transform: rotateZ(0deg);}
#dirapack.dbl .back_osnova{    right: -25%;}
#dirapack.dbl #packpill{      left: -22%;}
#spis_1{position: relative;    margin: 40px 0;}
#spis_2{ position: relative;    margin: 40px 0;}
#spis_3{position: relative;    margin: 40px 0;}
.goodsm{     width: 32px;       position: absolute;
  top: -3px;}
.close{width: 35px;    position: absolute; cursor: pointer;
  top: -105px;
  right: -20px;}
#spis_1_h_inn, #spis_2_h_inn, #spis_3_h_inn{color:#ffffff;     padding-left: 45px;   font-family: 'PT Sans', sans-serif;text-transform: uppercase;transition: all 0.3s ease-in-out;
@include fontmedium();
}
.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}

#spis_1_h{ cursor: pointer; }
#spis_2_h{ cursor: pointer; }
#spis_3_h{ cursor: pointer; }
#spis_1_h:hover #spis_1_h_inn{    color: #4fe1d2;}
#spis_2_h:hover #spis_2_h_inn{    color: #4fe1d2;}
#spis_3_h:hover #spis_3_h_inn{    color: #4fe1d2;}
#spis_1_tx{    padding-left: 46px;  color: #ffffff;  margin-top: 20px; @include fontsmall();}
#spis_2_tx{    padding-left: 46px;  color: #ffffff; display: none; margin-top: 20px;@include fontsmall();}
#spis_3_tx{    padding-left: 46px; color: #ffffff;  display: none;margin-top: 20px;@include fontsmall();}

#pharm_union_dop{  width: 100px;
  position: absolute;
  opacity: 0;
  right: 22%;
  top: 18%;}