#section6{
  position: relative;
  clear: both;
  float: left;
}
#section6 #fon_1{
  position: absolute;
  top: 0;
}
#ftext_6{
  position: absolute;
  width: 100%;
  top: 3%;
}
#ftext_6 h1{
  text-align: center;
  color: #3eddd6;
  text-transform: uppercase;
}

#icons_last{
  position: relative;
  width: 100%;

  margin-top: 106%;
 @include fontsmall();
  color: #0b5a6d;text-align: center;

}
#icons_last_inn{
  width: 85%;
  margin: 0 auto;
  display: flex;
  font-size: 14px;
  color: #0b5a6d;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
#icons_ls1, #icons_ls2, #icons_ls3, #icons_ls4{width: 115px;
position: relative;    height: 150px;
}
#icon_ls1_txt, #icon_ls2_txt, #icon_ls3_txt, #icon_ls4_txt{
  position: absolute;
  top: 100px;    width: 100%;

}

/* icon 1 */
.lsic_1_st0{filter:url(#Filter_lsall);}
.lsic_1_st1{fill:#FFFFFF;}
.lsic_1_st2{opacity:0.3;fill:url(#ls_grad);}
.lsic_1_st3{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st4{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st5{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st6{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st7{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st8{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st9{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st10{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st11{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st12{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st13{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st14{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st15{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st16{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st17{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st18{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_1_st19{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


#lsic_1{overflow: visible;}
#lsic_2{overflow: visible;}
#lsic_3{overflow: visible;}
#lsic_4{overflow: visible;}



.lsic_1_inn_op{opacity:0.3;}


#icon_ls1_txt, #icon_ls2_txt, #icon_ls3_txt, #icon_ls4_txt{opacity: 1;}

/* icon 2 */

.lsic_2_st0{filter:url(#Filter_lsall);}
.lsic_2_st1{fill:#FFFFFF;}
.lsic_2_st2{opacity:0.3;fill:url(#ls_grad);}
.lsic_2_st3{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st4{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st5{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st6{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st7{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st8{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st9{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st10{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_2_st11{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}



.lsic_2_inn_op{opacity:0.3;}


/* icon 3 */

.lsic_3_st0{filter:url(#Filter_lsall);}
.lsic_3_st1{fill:#FFFFFF;}
.lsic_3_st2{opacity:0.3;fill:url(#ls_grad);}
.lsic_3_st3{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_3_st4{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_3_st5{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_3_st6{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_3_st7{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


.lsic_3_inn_op{opacity:0.3;}


/* icon 4  */

.lsic_4_st0{filter:url(#Filter_lsall);}
.lsic_4_st1{fill:#FFFFFF;}
.lsic_4_st2{opacity:1;fill:url(#ls_grad);}
.lsic_4_st3{opacity:1;fill:url(#ls_grad);}
.lsic_4_st4{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st5{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st6{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st7{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st8{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st9{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st10{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st11{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st12{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st13{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st14{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st15{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st16{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st17{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.lsic_4_st18{fill:none;stroke:url(#ls_grad);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


.lsic_4_inn_op{opacity:0.3;}


/* icon plus */
#pluskont{filter:url(#Filter_lsallplus);}
#icon_plus{width: 190px;height: 190px;
position: absolute;
  @include centered();
  left:58%;
}


#dirapack2{
  position: absolute;
  width: 28%;
  height: 50%;
  left: 19%;
  top: 30%;
  z-index: 10;
}
#dirapack2_ov{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;

}
.ov2sst0, .ov2sst2, .ov2sst4{
  transform-origin: center;
  transform: scale(0);
}
#pi2lul{
  position: absolute;
  z-index: 10;
  width: 15%;
  transform: scale(0);

  left: 45%;
  top: 45%;
}
#pi2lul2{
  position: absolute;
  z-index: 10;
  width: 15%;
  transform: scale(0);

  right: 45%;
  bottom: 45%;
}
#pi2lul2_in{
  transform: rotate(90deg);
}
#good2ic{
  position: absolute;
  width: 50%;
  right: 3%;
  z-index: 10;
  transform: scale(0);
}
#pack2pill{
  width: 303px;
  height: 232px;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 10;
  transform-origin: center;
  transform: scale(0);
}
#pack2pill_in{
  width: 303px;
  height: 232px;
  position: relative;
  transform: rotateZ(-8deg);
}
.osnova2{    position: absolute;    width: 100%;
  height: auto;
  z-index: 10;}
.back_osnova2{
  position: absolute;
  z-index: 9;height: 100%;width: auto;
  right: 0;
}

#ls_plus{overflow: visible;}
#ls_plus_in{transform-origin: center center;transform: scale(0);}
#pluskont{transform-origin: center center;transform: scale3d(0, 0, 0);}

#icon_plus.active #pluskont{
  transform:scale(1);

  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
#icon_plus.active #ls_plus_in{
  transform:scale(1);

  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}