.ftext {
  margin-top: 70px;
  opacity: 1;
}

.ftext h1 {
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, #7aefb7, #7ae7e9 33.3%, #ffffff 66.6%, #ffffff);
  background-size: 300% 100%;
  background-position: right 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 2.5s ease;
  transition: background 2.5s ease;
  color: #fff;
}
.ftext.active h1{background-position: left 0;}
.fbutt {
  position: absolute;
  width: 250px;
  height: 65px;
  opacity: 1;
  bottom: 10%;
  border-radius: 35px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  @include centered('x');
}
#section1-2 .fbutt{bottom: 0%;}
#section1-2 .ftext h1 {    background-position: 0 0;}
#fbutt_cont{    position: absolute;
  width: 250px;
  height: 60px;
  border-radius: 35px;
  background-image: url("/assets/img/bt_gr.jpg");
  background-position: 0px 0px;
}

#btn_text {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
}

.line_menu_sv {
  clip-path: url(#line_menu_2_);
  fill: url(#line_menu_3_);
}

#btn_text p {
  opacity: 1;
  margin: 0;
  width: 160px;
}

#btn_text p span {
  transition: all 0.3s ease-in-out;
}

#btn_str_svg {
  transition: all 0.3s ease-in-out;
}

.fbutt:hover #btn_contur {
  bottom: 0%;
}

.fbutt:hover #btn_text p span {
  color: #3c8e5b;
}

.fbutt:hover #btn_str_svg {
  stroke: #3c8e5b;
}
.hovtrans{    transition: all 0.3s ease-in;
  transform-origin: center;
  transform: scale(1);
}
.hovtrans:hover{  transform: scale(1.2);}
#btn_str {
  width: 10px;
  position: absolute;
  top: 36%;
  opacity: 1;
  right: 17%;
  z-index: 10;
}

#block_first {

}

.ftext.active {
  background-position: left 0;
}

#pharm_union {
  width: 100px;
  position: absolute;
  opacity: 0;
  right: 9%;
  bottom: 0%;
}