$varCircHtml5: 0.85;
@mixin testM($var1, $var2) {
  color: $var1;
  background: $var2;
}


@mixin round(){
  border-radius: 50%;
}
@mixin fontsmall(){
  font-size: 14px;
}
@mixin fontmedium(){
  font-size: 17px;
}
@mixin centered($axis:'both'){
  @if ($axis == 'both'){
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @if $axis == 'x'{
    left:50%;
    transform: translateX(-50%);
  }
  @if $axis == 'y'{
    top:50%;
    transform: translateY(-50%);
  }
  @if $axis == 'none'{
    top:0;
    left: 0;
    transform: translate(0, 0);
  }
}

@mixin iphone(){
  @media screen and (max-width: 480px){
    @content;
  }
}
@mixin tablets(){
  @media screen and (max-width: 768px){
    @content;
  }
}
@mixin pc(){
 // @media screen and (max-width: 1200px){
  @media screen and (max-width: 1100px){
    @content;
  }
}
@mixin notebook(){
  @media screen and (max-width: 1400px){
    @content;
  }
}


@mixin underline {
  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background: #474b57;
    margin: 0 auto;
    margin-top: 21px;
    @include pc{margin-top: 10px;}
    @include iphone{margin-top:24px; }
  }
}