extends ../_layout

block variables
  - var title = one.Pages.home.title
  - var author = one.Pages.home.author
  - var description = one.Pages.home.description
  - var keywords = one.Pages.home.keywords
  - var bodyClass = one.Pages.home.bodyClass

block content
  include ../common/index